
.dropDownContents {
    inset: auto;
    background: var(--colors-ContrastNeutral);
    margin: 0;
    border: 0;
}

@supports (position-anchor: --neos-Workspace-Selector-anchor) {
    /* TODO legacy support for non anchor CSS? */
    .dropDownContents {
        position-anchor: --neos-Workspace-Selector-anchor;
        right: anchor(right);
        top: anchor(bottom);
    }
}

.dropDownButton {
    /* TODO Dynamic name!!! */
    anchor-name: --neos-Workspace-Selector-anchor;
}

.dropDownButton:focus {
    outline: none;
}

.dropDownContents:popover-open + .dropDownButton .dropDownOpenerIcon {
    transform: rotateX(180deg);
}
