.bar {
    composes: reset from './../reset.css';
    position: fixed;
    left: 0;
    z-index: var(--neos-zIndex-CheckboxInput-Context);
    width: 100%;
    background-color: var(--neos-colors-ContrastDarker);
    height: 41px;
    border-bottom: 1px solid var(--neos-colors-ContrastDark);
}
.bar--top {
    top: 0;
}
.bar--bottom {
    bottom: 0;
}
