.topBar {
    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}
.topBar__rightSidedActions {
    position: absolute;
    right: 0;
    top: 0;
}
