.drawer {
    position: fixed;
    top: 41px;
    left: 0;
    z-index: 8000;
    height: 100%;
    width: $sidebarWidth;
    background: $darker;
    transition: .3s ease transform;
}
.drawer--isHidden {
    transform: translateX(-$sidebarWidth);
}
.drawer__menuItem {
    border-top: 1px solid $dark;

    &:first-child {
        border-top: 0;
    }
}
.drawer__menuItemBtn {
    width: 100%;
    text-align: left;
}
