.btn {
    composes: reset from './../reset.css';
    position: relative;
    display: inline-block;
    height: var(--spacing-GoldenUnit);
    min-width: var(--spacing-GoldenUnit);
    padding: 0 var(--spacing-Full);
    border: 0;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
    width: auto;
    color: var(--colors-ContrastBrightest);
    cursor: pointer;
    background-color: var(--colors-ContrastNeutral);
    font-size: var(--fontSize-Base);

    &:focus {
        outline: 1px solid var(--colors-PrimaryBlue);
    }

    &[disabled] {
        opacity: .5;
        cursor: not-allowed;

        &:hover,
        &.btn--isPressed,
        &:hover i,
        i {
            color: var(--colors-ContrastBrightest);
        }
    }
}
.btn--size-small {
    height: 32px;
    font-size: 13px;
    padding: 0 8px;
}

.btn--clean {
    background-color: var(--colors-ContrastDarker);
}
.btn--lighter,
.btn--lighter i {
    background-color: var(--colors-ContrastDark);
}
.btn--neutral,
.btn--neutral i {
    background-color: var(--colors-ContrastNeutral);
}
.btn--transparent {
    background: 0;
}
.btn--brand,
.btn--brand i {
    background-color: var(--colors-PrimaryBlue);
    color: white !important;
}
.btn--success,
.btn--success i {
    background-color: var(--colors-Success);
    color: white !important;
}
.btn--warn,
.btn--warn i {
    background-color: var(--colors-Warn);
}
.btn--error,
.btn--error i {
    background-color: var(--colors-Error);
    color: white !important;
}

.btn--brandActive {
    background-color: var(--colors-PrimaryBlue);

    svg {
        color: var(--colors-ContrastBrightest);
    }
}

.btn--brandHover:hover:enabled,
.btn--brandHover:hover:enabled i,
.btn--brandHover.btn--isPressed,
.btn--brandHover.btn--isPressed i {
    background-color: var(--colors-PrimaryBlue);
}
.btn--cleanHover.btn--isPressed,
.btn--cleanHover.btn--isPressed i,
.btn--cleanHover:hover:enabled,
.btn--cleanHover:hover:enabled i {
    color: var(--colors-PrimaryBlue);

    svg {
        color: var(--colors-PrimaryBlue);
    }
}
.btn--darkenHover.btn--isPressed,
.btn--darkenHover.btn--isPressed i,
.btn--darkenHover:hover:enabled,
.btn--darkenHover:hover:enabled i {
    background-color: rgba(0, 0, 0, .1);
}
.btn--successHover.btn--isPressed,
.btn--successHover.btn--isPressed i,
.btn--successHover:hover:enabled,
.btn--successHover:hover:enabled i {
    background-color: var(--colors-SuccessHover);
}
.btn--warnHover.btn--isPressed,
.btn--warnHover.btn--isPressed i,
.btn--warnHover:hover:enabled,
.btn--warnHover:hover:enabled i {
    background-color: var(--colors-WarnHover);
}
.btn--errorHover:hover:enabled,
.btn--errorHover:hover:enabled i,
.btn--errorHover.btn--isPressed,
.btn--errorHover.btn--isPressed i {
    background-color: var(--colors-ErrorHover);
}
