.btn {
    composes: reset from './../reset.css';
    position: relative;
    display: inline-block;
    height: var(--goldenUnit);
    min-width: var(--goldenUnit);
    padding: 0 var(--spacing);
    border: 0;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
    width: auto;
    color: var(--brandColorsContrastBrightest);
    cursor: pointer;
    background-color: var(--brandColorsContrastNeutral);
    font-size: var(--baseFontSize);

    &:focus {
        outline: 1px dotted var(--brandColorsContrastBrightest);
    }

    &[disabled] {
        opacity: .5;
        cursor: not-allowed;

        &:hover,
        &.btn--isPressed,
        &:hover *,
        &.btn--isPressed * {
            color: var(--brandColorsContrastBrightest);
        }
    }
}

.btn--size-small {
    height: 32px;
    font-size: 13px;
    padding: 0 8px;
}

.btn--clean,
.btn--clean[disabled]:hover,
.btn--clean[disabled]:hover * {
    background-color: var(--brandColorsContrastDarker);
}
.btn--lighter,
.btn--lighter[disabled]:hover,
.btn--lighter[disabled]:hover * {
    background-color: var(--brandColorsContrastDark);
}
.btn--transparent {
    background: 0;
}
.btn--brand,
.btn--brand[disabled]:hover,
.btn--brand[disabled]:hover * {
    background-color: var(--brandColorsPrimaryBlue);
    color: white !important;
}
.btn--warn,
.btn--warn[disabled]:hover,
.btn--warn[disabled]:hover * {
    background-color: var(--brandColorsWarn);
}
.btn--brandHover {
    &:hover,
    &.btn--isPressed {
        background-color: var(--brandColorsPrimaryBlue);
    }
}

.btn--cleanHover.btn--isPressed,
.btn--cleanHover:hover,
.btn--cleanHover:hover * {
    color: var(--brandColorsPrimaryBlue);
}
.btn--darkenHover.btn--isPressed,
.btn--darkenHover:hover,
.btn--darkenHover:hover * {
    background-color: rgba(0, 0, 0, .1);
}
.btn--warnHover.btn--isPressed,
.btn--warnHover:hover,
.btn--warnHover:hover * {
    background-color: var(--brandColorsWarn);
}
