.btn {
    composes: reset from './../reset.css';
    position: relative;
    display: inline-block;
    height: var(--goldenUnit);
    min-width: var(--goldenUnit);
    padding: 0 var(--spacing);
    border: 0;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
    width: auto;
    color: var(--brandColorsContrastBrightest);
    cursor: pointer;
    background: var(--brandColorsContrastNeutral);
    font-size: var(--baseFontSize);

    &:focus {
        outline: 1px dotted var(--brandColorsContrastBrightest);
    }

    &[disabled] {
        opacity: .5;
        cursor: not-allowed;

        &:hover {
            color: var(--brandColorsContrastBrightest);
        }
    }
}
.btn--size-regular {}
.btn--size-small {
    height: 32px;
    font-size: 13px;
    padding: 0 8px;
}

.btn--clean,
.btn--clean[disabled]:hover {
    background-color: var(--brandColorsContrastDarker);
}
.btn--lighter,
.btn--lighter[disabled]:hover {
    background-color: var(--brandColorsContrastDark);
}
.btn--transparent {
    background: 0;
}
.btn--brand,
.btn--brand[disabled]:hover {
    background-color: var(--brandColorsPrimaryBlue);
}
.btn--brandHover {
    &:hover,
    &.btn--isPressed {
        background-color: var(--brandColorsPrimaryBlue);
    }
}

.btn--cleanHover.btn--isPressed,
.btn--cleanHover:hover {
    color: var(--brandColorsPrimaryBlue);
}
.btn--darkenHover.btn--isPressed,
.btn--darkenHover:hover {
    background: rgba(0, 0, 0, .1);
}
