.btn {
    composes: reset from './../reset.css';
    position: relative;
    display: inline-block;
    height: var(--goldenUnit);
    min-width: var(--goldenUnit);
    padding: 0 var(--spacing);
    border: 0;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
    width: auto;
    color: var(--brandColorsContrastBrightest);
    cursor: pointer;
    background-color: var(--brandColorsContrastNeutral);
    font-size: var(--baseFontSize);

    &:focus {
        outline: unset;
    }

    &[disabled] {
        opacity: .5;
        cursor: not-allowed;

        &:hover,
        &.btn--isPressed,
        &:hover i,
        i {
            color: var(--brandColorsContrastBrightest);
        }
    }
}
.disabledButtonOverlay {
  position: relative;
  height: 100%;

  &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
  }
}
.btn--size-small {
    height: 32px;
    font-size: 13px;
    padding: 0 8px;
}

.btn--clean {
    background-color: var(--brandColorsContrastDarker);
}
.btn--lighter,
.btn--lighter i {
    background-color: var(--brandColorsContrastDark);
}
.btn--transparent {
    background: 0;
}
.btn--brand,
.btn--brand i {
    background-color: var(--brandColorsPrimaryBlue);
    color: white !important;
}
.btn--warn,
.btn--warn i {
    background-color: var(--brandColorsWarn);
}

.btn--brandHover:hover,
.btn--brandHover:hover i,
.btn--brandHover.btn--isPressed,
.btn--brandHover.btn--isPressed i {
    background-color: var(--brandColorsPrimaryBlue);
}
.btn--cleanHover.btn--isPressed,
.btn--cleanHover.btn--isPressed i,
.btn--cleanHover:hover,
.btn--cleanHover:hover i {
    color: var(--brandColorsPrimaryBlue);
}
.btn--darkenHover.btn--isPressed,
.btn--darkenHover.btn--isPressed i,
.btn--darkenHover:hover,
.btn--darkenHover:hover i {
    background-color: rgba(0, 0, 0, .1);
}
.btn--warnHover.btn--isPressed,
.btn--warnHover.btn--isPressed i,
.btn--warnHover:hover,
.btn--warnHover:hover i {
    background-color: var(--brandColorsWarn);
}
