.flashMessage {
    color: white;
    font-size: 14px;
    position: relative;
    width: 512px;
    max-height: 0;
    margin: 0 auto 4px;
    word-wrap: break-word;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 0 14px rgba(#000, .15);
    transition: .1s ease max-height;
}

.flashMessage--visible {
    max-height: 100vh;
}

.flashMessage--success {
    background-color: $success;
}

.flashMessage--error {
    background-color: $error;
}

.flashMessage--info {
    background-color: $brand;
}

.flashMessage__icon {
    position: absolute;
    left: 0;
    top: 0;
	height: 100%;
    line-height: 40px;
    width: 40px;
    text-align: center;
    font-size: 16px;
    padding: 0;
    margin: 0;
    vertical-align: text-top;
    border-right: 1px solid rgba(#FFF, .3);
}

.flashMessage__heading {
    padding: 12px 49px 12px;
    margin-bottom: 0;
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.flashMessage__btnClose {
    position: absolute;
    right: 0;
    top: 0;
}
