.boolean__disabled {
    opacity: .65;
    cursor: not-allowed;
}

.boolean__wrapper {
    padding: 5px;

    label {
        margin-bottom: 0 !important;
    }
}

.boolean__label {
    max-width: none;
    display: inline;
}
