.dropDown {
    composes: reset from './../reset.css';
    position: relative;
    display: inline-block;
    width: 100%;
}
.dropDown__btn {
    composes: reset from './../reset.css';
    display: block;
    width: 100%;
    height: var(--spacing-GoldenUnit);
    text-align: left;
    color: white;
    cursor: pointer;
    font-size: var(--fontSize-Base);
    padding: 0 var(--spacing-Full);
    border: 0;
    border-radius: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: var(--spacing-GoldenUnit);
    background: var(--colors-ContrastNeutral);

    &:focus{
        outline: 1px solid var(--colors-PrimaryBlue);
    }
}
.dropDown__btn--withChevron {
    padding-right: var(--spacing-GoldenUnit);
}
.dropDown__btnLabel {
    composes: reset from './../reset.css';
    margin-right: .5em;
}
.dropDown__chevron {
    composes: reset from './../reset.css';
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}
.dropDown__contents {
    composes: reset from './../reset.css';
    position: absolute;
    top: 100%;
    left: 0;
    z-index: var(--zIndex-DropdownContents-Context);
    display: none;
    width: 100%;
    margin: 0;
    list-style: none;
    background: var(--colors-ContrastNeutral);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
}
.dropDown__contents--scrollable {
    position: fixed;
    top: auto;
    overflow-y: auto;
}
.dropDown__contents--isOpen {
    display: block;
}
.dropDown--darker {
    > .dropDown__btn--open {
        background-color: var(--colors-ContrastDarker);
    }

    > .dropDown__contents {
        background-color: var(--colors-ContrastDarker);
    }
}
.dropDown--darkest {
    > .dropDown__btn--open {
        background-color: var(--colors-ContrastDarkest);
    }

    > .dropDown__contents {
        background-color: var(--colors-ContrastDarkest);
    }
}
.dropDown--padded {
    > .dropDown__contents {
        padding: var(--spacing-Full);
    }
}
