@import "../reset";

.selectBox__list {
    padding: 0;
}

.selectBox {
    @include reset;
    width: 100%;
    position: relative;
    display: inline-block;
    line-height: 0;
}

.selectBox__btn {
    @include reset;
    width: 100%;
    text-align: left;
    color: white;
    cursor: pointer;
    font-size: var(--fontSize-Base);
    padding: 0 var(--spacing-Full);
    border-radius: 2px;
    overflow: hidden;
    white-space: nowrap;
    background: var(--colors-ContrastNeutral);
    position: relative;
    display: inline-block;
    text-overflow: clip;
    height: auto;
    min-height: var(--spacing-GoldenUnit);
    line-height: var(--spacing-GoldenUnit);
    padding-left: 0;
    border: 0;
    background: var(--colors-ContrastNeutral);
    min-width: 160px;
}

.selectBox__btn--noRightPadding {
    padding-right: 0;
}

.selectBox__contents {
    min-width: 160px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
    z-index: var(--zIndex-SelectBoxContents);
    margin-top: -2px;
}

.selectBox__contents--hasItems {
    padding: 2px !important;
}

.selectBox__item {
    border-top: 1px solid var(--colors-ContrastDarker);
    background: var(--colors-ContrastDarkest);

    div {
        padding: 5px 14px;
    }
}

.selectBox__groupHeader {
    background-color: var(--colors-ContrastDarker);
    font-weight: bold;
    padding-left: var(--spacing-Full);
    line-height: 30px;
    text-transform: uppercase;
}

.selectBox--disabled {
    filter: opacity(50%);
    cursor: not-allowed;
}
