
.selectBox__list {
    padding: 0;
}

.selectBox--highlight {
    outline: 2px solid var(--brandColorsSuccess);
}

.selectBox {
    composes: reset from './../reset.css', dropDown from './../DropDown/style.css';
    position: relative;
    display: inline-block;
}

.selectBox__btn {
    composes: reset from './../reset.css', dropDown__btn from './../DropDown/style.css';
    position: relative;
    display: inline-block;
    text-overflow: clip;
    height: var(--goldenUnit);
    line-height: var(--goldenUnit);
    border: 0;
    background: var(--brandColorsContrastNeutral);
    min-width: 160px;
}

.selectBox__btn--noRightPadding {
    padding-right: 0;
}

.selectBox__contents {
    composes: reset from './../reset.css';
    min-width: 160px;
    box-shadow: 0 5px 10px rgba(#000, .2);
    z-index: var(--zIndex-SelectBoxContents-Context);
}

.selectBox__item {
    border-top: 1px solid var(--brandColorsContrastDarker);
}
