
.selectBox__list {
    padding: 0;
}

.selectBox {
    composes: reset from './../reset.css', dropDown from './../DropDown/style.css';
    position: relative;
    display: inline-block;
    line-height: 0;
}

.selectBox__btn {
    composes: reset from './../reset.css', dropDown__btn from './../DropDown/style.css';
    position: relative;
    display: inline-block;
    text-overflow: clip;
    height: auto;
    min-height: var(--spacing-GoldenUnit);
    line-height: var(--spacing-GoldenUnit);
    padding-left: 0;
    border: 0;
    background: var(--colors-ContrastNeutral);
    min-width: 160px;
}

.selectBox__btn--noRightPadding {
    padding-right: 0;
}

.selectBox__contents {
    min-width: 160px;
    box-shadow: 0 5px 5px rgba(#000, .2);
    z-index: var(--zIndex-SelectBoxContents);
    padding: 2px !important;
    margin-top: -2px;
}

.selectBox__item {
    border-top: 1px solid var(--colors-ContrastDarker);
    background: var(--colors-ContrastDarkest);

    div {
        padding: 5px 14px;
    }
}

.selectBox__groupHeader {
    background-color: var(--colors-ContrastDarker);
    font-weight: bold;
    padding-left: var(--spacing-Full);
    line-height: 30px;
    text-transform: uppercase;
}

.selectBox--disabled {
    filter: opacity(50%);
    cursor: not-allowed;
}
