.menuBtn {
	display: block;
  width: 54px;
  height: 40px;
  line-height: 45px;
  float: left;
  border-right: 1px solid $dark;
  text-align: center;
  background-color: $darker;
	color: $brightest;
	text-decoration: none;
}
.menuBtn:hover {
	text-decoration: none;
	color: $brand;
}
