.offCanvas {
    position: fixed;
    top: 41px;
    left: 0;
    z-index: 8000;
    height: 100%;
    width: 320px;
    background: $darker;
    transition: .3s ease transform;
}
.offCanvas--isHidden {
    transform: translateX(-320px);
}
.offCanvas__menuItem {
    border-top: 1px solid $dark;

    &:first-child {
        border-top: 0;
    }
}
.offCanvas__menuItem__btn {
    width: 100%;
    text-align: left;
}
