.toolBar__btnGroup {
  display: flex;
  height: var(--goldenUnit);
  justify-content: space-between;
  
    &:after {
        clear: both;
    }
}
.toolBar__btnGroup__btn {
    float: left;
    width: 40px;
}
