.toolBar {
    border-top: 1px solid var(--colors-ContrastDark);
    border-bottom: 1px solid var(--colors-ContrastDark);
    border-right: 1px solid var(--colors-ContrastDark);
    flex: 0 0 var(--spacing-GoldenUnit);
    background: var(--colors-ContrastDarker);
}
.toolBar__btnGroup {
    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}
.toolBar__btnGroup__btn {
    float: left;
    width: var(--spacing-GoldenUnit);
}
