.hero {
    line-height: 54px;
    margin-bottom: var(--spacing-Full);
    display: flex;
}

.hero__value {
    font-size: 54px;
    flex-grow: 1;
}

.hero__label {
    color: var(--colors-ContrastBrighter);
    margin-left: var(--spacing-Half);
    flex-grow: 1;
    text-align: right;
}
