.textInput {
    width: 100%;
    height: var(--goldenUnit);
    padding: 0 14px;
    margin-bottom: var(--spacing);
    border: 0;
    background: var(--brandColorsContrastNeutral);
    color: white;

    &:focus {
        outline: 0;
        background: var(--brandColorsContrastBrightest);
        color: var(--brandColorsContrastDarkest);
    }
}
.textInput::-webkit-input-placeholder {
    font-family: 'Noto Sans', sans-serif;
    color: var(--brandColorsContrastBright);
}
.textInput--invalid {
    outline: 2px solid var(--brandColorsError);
}
