.textInput {
    composes: reset from './../reset.css';
    width: 100%;
    height: var(--goldenUnit);
    padding: 0 14px;
    border: 0;
    background: var(--brandColorsContrastNeutral);
    color: white;

    &:focus {
        outline: 0;
        background: var(--brandColorsContrastBrightest);
        color: var(--brandColorsContrastDarkest);
    }
}
.textInput::-webkit-input-placeholder {
    font-family: 'Noto Sans', sans-serif;
    color: var(--brandColorsContrastBright);
}
.textInput--invalid {
    outline: 2px solid var(--brandColorsError) !important;
    color: var(--brandColorsError) !important;
}
.textInput--highlight {
    outline: 2px solid var(--brandColorsSuccess) !important;
}
