.textInput {
    composes: reset from './../reset.css';
    /* TODO: should eventually be moved to reset.css, but there maybe be plenty of side-effects */
    font-size: 14px;
    width: 100%;
    height: var(--spacing-GoldenUnit);
    padding: 0 14px;
    border: 0;
    border-radius: 2px;
    background: var(--colors-ContrastNeutral);
    color: white;

    &:focus {
        outline: 0;
        background: var(--colors-ContrastBrightest);
        color: var(--colors-ContrastDarkest);
    }
}
.textInput::-webkit-input-placeholder {
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
    color: var(--colors-ContrastBright);
}

.textInput--disabled {
    opacity: .65;
    cursor: not-allowed;
}
