.textInput {
    padding-bottom: 16px;
}
.textInput__input {
    width: 100%;
    height: 40px;
    padding: 0 14px;
    border: 0;
    background: $neutral;
}
.textInput__input::-webkit-input-placeholder {
    font-family: 'Noto Sans', sans-serif;
    color: $bright;
}
.textInput--invalid {
    outline: 2px solid $error;
}
