.header {
    composes: reset from './../reset.css';
    margin: 0;
    position: relative;
    line-height: 20px;
    padding-left: 15px;
}
.header__chevron {
    composes: reset from './../reset.css';
    position: absolute;
    top: 35%;
    left: 0;
    transform: translateY(-50%);
    margin-top: 1px;
    cursor: pointer;
    color: var(--brandColorsContrastBrighter);

    &:hover {
        color: var(--brandColorsPrimaryBlue);
    }
}
.header__chevron--isCollapsed {
    transform: translateY(-35%) translateX(-25%) rotate(-90deg);
}
.header__chevron--isHiddenInIndex,
.header__data--isHidden {
    opacity: .5;
}

.header__chevron--isLoading,
.header__chevron--isLoading:hover {
    color: var(--brandColorsContrastBrighter) !important;
}

.header__icon {
    padding: 0 .4em;
}

.header__data {
    composes: reset from './../reset.css';
    position: relative;
    display: block;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: .2em 0;
}

.header__data--isHiddenInIndex {
    opacity: .5;
}
.header__data--isHidden {
    opacity: .5;
    text-decoration: line-through;
}
.header__data--isDragging {
    opacity: 0.2;
}
.header__data--isDirty {
    border-left: 3px solid var(--brandColorsWarn);
}
.header__data--isFocused {
    background: var(--brandColorsContrastNeutral);

    &.header__data--isHiddenInIndex,
    &.header__data--isHidden {
        opacity: .8;
    }
}
.header__data--isLastChild {
}
.header__data--acceptsDrop {
    background-color: var(--brandColorsPrimaryBlue);
}
.header__data--acceptsDrop *,
.header__data--deniesDrop * {
    pointer-events: none;
}
.header__label {
    composes: reset from './../reset.css';

    .header__data--isActive & {
        color: var(--brandColorsPrimaryBlue);
    }
}

.contents {
    composes: reset from './../reset.css';
    margin-left: var(--spacing);
}

.dropTarget {
    position: absolute;
    left: 0;
    right: 0;
    padding-left: 15px;
}
.dropTarget--before {
    top: -5px;
    z-index: 1;
    padding-top: 4px;
    padding-bottom: 4px;
}
.dropTarget--after {
    bottom: 0;
    z-index: 2;
    padding-top: 6px;
    padding-bottom: 0;
}
.dropTarget__inner {
    height: 2px;
}
.dropTarget__inner--acceptsDrop {
    background-color: var(--brandColorsPrimaryBlue);
}
