.header {
    composes: reset from './../reset.css';
    position: relative;
    height: 24px;
    line-height: 24px;
    padding-left: 15px;
}
.header__chevron {
    composes: reset from './../reset.css';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-top: -3px;
    cursor: pointer;
    color: var(--brandColorsContrastBrighter);

    &:hover {
        color: var(--brandColorsPrimaryBlue);
    }
}
.header__chevron--isCollapsed {
    transform: translateY(-35%) translateX(-25%) rotate(-90deg);
}

.header__chevron--isLoading,
.header__chevron--isLoading:hover {
    color: var(--brandColorsContrastBrighter) !important;
}

.header__data {
    composes: reset from './../reset.css';
    display: block;
    cursor: pointer;
}
.header__data--isFocused {
    background: var(--brandColorsContrastNeutral);
}
.header__label {
    composes: reset from './../reset.css';

    .header__data--isActive & {
        color: var(--brandColorsPrimaryBlue);
    }
}

.contents {
    composes: reset from './../reset.css';
    margin-left: var(--spacing);
}
