.widget {
    background-color: var(--colors-ContrastNeutral);
}

.header {
    display: flex;
    border-bottom: 1px solid var(--colors-ContrastDarker);
    padding: 0 var(--spacing-Full);
    line-height: var(--spacing-GoldenUnit);
}

.body {
    padding: var(--spacing-Full);
}

.label {
    flex-grow: 1;
}

.subtitle {
    color: var(--colors-ContrastBrighter);
    text-align: right;
}
