.widget {
    background-color: var(--neos-colors-ContrastNeutral);
}

.header {
    display: flex;
    border-bottom: 1px solid var(--neos-colors-ContrastDarker);
    padding: 0 var(--neos-spacing-Full);
    line-height: var(--neos-spacing-GoldenUnit);
}

.body {
    padding: var(--neos-spacing-Full);
}

.label {
    flex-grow: 1;
}

.subtitle {
    color: var(--neos-colors-ContrastBrighter);
    text-align: right;
}
