.iconButton {
    composes: reset from './../reset.css';
    vertical-align: top;
    width: var(--spacing-GoldenUnit);
    padding-left: 0;
    padding-right: 0;
}

.iconButton--disabled {
    opacity: .65;
    cursor: not-allowed;
}

.size-small {
    width: 32px !important;
    min-width: 32px !important;
}
