.iconButton {
    composes: reset from './../reset.css';
    vertical-align: top;
    width: var(--goldenUnit);
    padding-left: 0;
    padding-right: 0;
}

.size-small {
    width: 32px;
    min-width: 32px;
}
