@import "../reset";

.label {
    @include reset;
    display: block;
    -webkit-font-smoothing: antialiased;
    font-size: var(--neos-fontSize-Base);
    cursor: pointer;
    padding: 0;
    margin-bottom: 4px;
    user-select: none;

    &,
    span {
        max-width: 100%;
    }
}
