{
    "presets": ["@babel/preset-react", "@babel/preset-env"],
    "plugins": ["plugin-proposal-decorators", "@babel/plugin-proposal-decorators", "@babel/plugin-syntax-jsx", "@babel/plugin-proposal-object-rest-spread" ]
}
