.btn {
    display: inline-block;
    padding: 0 var(--spacing);
    height: var(--goldenUnit);
    line-height: var(--goldenUnit);
    border: 0;
    background: var(--brandColorsSuccess);
    text-align: center;
    vertical-align: top;
    color: white;
    cursor: pointer;
}
.btn--disabled {
    opacity: .5;
}
.btn--notAllowed {
    &[disabled] {
        cursor: not-allowed;
    }
 }
.btn--highlighted {
    background: var(--brandColorsWarn);
}

.badge {
    margin-left: var(--quarterSpacing);;
}
