.btn {
    position: relative;
    display: inline-block;
    height: 40px;
    min-width: 40px;
    padding: 0 16px;
    border: 0;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
    width: auto;

    &:focus {
        outline: 1px dotted $brightest;
    }

    &[disabled] {
        opacity: .5;
        cursor: not-allowed;

        &:hover {
            background: inherit;
            color: inherit;
        }
    }
}
.btn--clean {
    background: $darker;
}
.btn--transparent {
    background: 0;
}
.btn--brandHover {
    &:hover {
        background: $brand;
    }
}
.btn--cleanHover {
    &:hover {
        color: $brand;
    }
}
.btn--darkenHover {
    &:hover {
        background: rgba(0, 0, 0, .1);
    }
}
