.multiLineWithThumbnail__item {
    box-sizing: content-box;
    background: var(--neos-colors-ContrastDarkest);
}

.multiLineWithThumbnail__item--multiLine {
    line-height: 20px;
}

.multiLineWithThumbnail__secondaryLabel {
    color: var(--neos-colors-ContrastBright);
    display: block;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.multiLineWithThumbnail__tertiaryLabel {
    color: var(--neos-colors-ContrastBright);
    display: block;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.multiLineWithThumbnail__image {
    width: calc(1.33 * (var(--neos-spacing-GoldenUnit) + var(--neos-spacing-Full)));
    height: calc(var(--neos-spacing-GoldenUnit) + var(--neos-spacing-Full));
    object-fit: contain;
    background-color: #fff;
    background-size: 10px 10px;
    background-position: 0 0, 25px 25px;
    background-image: linear-gradient(45deg, #cccccc 25%, transparent 25%, transparent 75%, #cccccc 75%, #cccccc), linear-gradient(45deg, #cccccc 25%, transparent 25%, transparent 75%, #cccccc 75%, #cccccc);
    margin-right: .75em;
    display: inline-block;
    vertical-align: middle;
    margin-left: calc(var(--neos-spacing-Full) * -1);
    margin-top: calc(var(--neos-spacing-Half) * -1);
    margin-bottom: calc(var(--neos-spacing-Half) * -1);
}

.multiLineWithThumbnail__item:hover .multiLineWithThumbnail__secondaryLabel,
.multiLineWithThumbnail__item:hover .multiLineWithThumbnail__tertiaryLabel {
    color: white;
}
