.multiLineWithThumbnail__item {
    display: grid;
    grid-template-columns: auto min-content 1fr;
    column-gap: var(--spacing-Half);
    align-items: start;
    box-sizing: content-box;
    background-color: var(--colors-ContrastDarkest);
    padding: 5px var(--spacing-Half) 5px var(--spacing-Full);
}

.listPreviewElement__iconWrapper {
    grid-column: 2;
    grid-row: 1;
    margin-right: 0;
    width: fit-content;
}

.multiLineWithThumbnail__label {
    grid-column: 2 / 4;
    grid-row: 1 / auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.multiLineWithThumbnail__item--withIcon .multiLineWithThumbnail__label {
    grid-column-start: 3;
}

.multiLineWithThumbnail__secondaryLabel {
    grid-column: 2 / 4;
    grid-row: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--colors-ContrastBright);
    display: block;
    font-size: 12px;
}

.multiLineWithThumbnail__tertiaryLabel {
    grid-column: 2 / 4;
    grid-row: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--colors-ContrastBright);
    display: block;
    font-size: 12px;
}

.multiLineWithThumbnail__item--multiLine {
    line-height: 1.4em;
}

.multiLineWithThumbnail__image {
    width: calc(1.33 * (var(--spacing-GoldenUnit) + var(--spacing-Full)));
    height: calc(var(--spacing-GoldenUnit) + var(--spacing-Full));
    grid-column: 1;
    grid-row: 1 / 4;
    object-fit: contain;
    background-color: #fff;
    background-size: 10px 10px;
    background-position: 0 0, 25px 25px;
    background-image: linear-gradient(45deg, #cccccc 25%, transparent 25%, transparent 75%, #cccccc 75%, #cccccc), linear-gradient(45deg, #cccccc 25%, transparent 25%, transparent 75%, #cccccc 75%, #cccccc);
    display: inline-block;
    vertical-align: middle;
    margin-left: calc(var(--spacing-Full) * -1);
    align-self: center;
}

.multiLineWithThumbnail__item:hover {
    background-color: var(--colors-ContrastDarker);

    .multiLineWithThumbnail__secondaryLabel,
    .multiLineWithThumbnail__tertiaryLabel {
        color: white;
    }
}
