.contentView {
    float: left;
    height: 100%;
    width: 100%;
    padding: 82px 320px 41px;
    transition: .2s ease padding;
    will-change: padding;
}
.contentView--isFringeLeft {
    padding-left: 0;
}
.contentView--isFringeRight {
    padding-right: 0;
}
.contentView--isFullScreen {
    padding: 0;
}
.contentView__item {
    display: none;
    width: 100%;
    height: 100%;
}
.contentView__item--active {
    display: block;
}
