.contextBar {
    position: absolute;
    top: 41px;
    left: 0;
    padding: 0 320px;
    width: 100%;
    height: 41px;
    background: $neutral;
    transition: .5s ease padding;

    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}
.contextBar--isFringeLeft {
    padding-left: 0;
}
.contextBar--isFringeRight {
    padding-right: 40px;
}
.contextBar__rightHandedActions {
    float: right;
}
.contextBar__rightHandedActions__btn {
    vertical-align: top;
}

.dimensionCategory {}
.dimensionCategory__icon {
    margin-right: .5em;
}
