.wrapper {
    position: relative;
    vertical-align: top;
    /* Move down to cover the 1px border bottom of the secondary toolbar */
    bottom: -1px;
}
.dropDown {
    position: static;
    display: block;
}
.dropDown__btn {
    position: relative;
    height: calc(var(--spacing-GoldenUnit) + 1px);
    border: 0;
    background-color: var(--colors-ContrastDarker);
    text-align: right;
    border-radius: 0;
    user-select: none;
    /* Increase size to connect button with blue border around the guest frame to cover the 1px border bottom of the secondary toolbar */
    margin-bottom: -1px;
    margin-top: -1px;
}
.dropDown__btn--isPreviewMode {
    background-color: var(--colors-PrimaryBlue);
}
.dropDown__btnIcon {
    margin-right: .5em;
}
.dropDown__modeBadge {
    display: inline;
    border-radius: 4px;
    margin-right: 4px;
    padding-inline: 5px;

    @media (max-width: 1200px) {
        display: none;
    }
}

.dropDown__contents {
    position: relative;
    min-width: 160px;
    padding: 2px !important;
    margin-top: -2px;
    background: var(--colors-ContrastDarker);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);

    @media(max-width: 768px) {
        position: absolute;
        min-width: 240px;
        top: 40px;
        left: 0;
        margin-top: 0;
    }
}
.dropDown__item {
    height: var(--spacing-GoldenUnit);
    border-top: 1px solid var(--colors-ContrastDarker);
    background: var(--colors-ContrastDarkest);

    &:hover {
        background: var(--colors-PrimaryBlue);
    }

    > a,
    & button {
        display: block;
        width: 100%;
        border: 0;
        padding: 0 var(--spacing-Full);
        background: 0;
        color: #FFF;
        cursor: pointer;
        text-decoration: none;
        line-height: var(--spacing-GoldenUnit);
        text-align: left;
    }
}

.dropDown__groupHeader {
    color: #FFF;
    padding: var(--spacing-Half) var(--spacing-Full);
}
.dropDown__itemIcon {
    margin-right: .5em;
}
