.wrapper {
    position: relative;
    vertical-align: top;
}
.dropDown {
    position: static;
    display: block;
}
.dropDown__btn {
    position: relative;
    height: var(--spacing-GoldenUnit);
    border: 0;
    background-color: transparent;
    text-align: right;
    border-radius: 0;
    user-select: none;
}

.dropDown__btn:hover {
    background-color: var(--colors-PrimaryBlueHover);
}

.dropDown__btn--isPreviewMode {
    background-color: var(--colors-PrimaryBlue);
}
.dropDown__modeBadge {
    display: inline;
    border-radius: 4px;
    margin-right: 4px;
    padding-inline: 5px;

    @media (max-width: 1200px) {
        display: none;
    }
}

.dropDown__contents {
    position: relative;
    min-width: 160px;
    padding: 2px !important;
    background: var(--colors-ContrastDarker);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);

    @media(max-width: 768px) {
        position: absolute;
        min-width: 240px;
        top: 40px;
        left: 0;
    }
}
