.resizeControls {
    display: flex;
}
.resizeControls__before {
    height: 40px;
    width: 40px;
    border-right: 1px solid var(--brandColorsContrastDarker);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--brandColorsContrastNeutral);
}

.resizeControls__main {
    flex-grow: 1;
}
.resizeControls__after {
    height: 40px;
    width: 40px;
    background: var(--brandColorsContrastNeutral);
    border-left: 1px solid var(--brandColorsContrastDarker);
    text-align: center;

    line-height: 40px;
}
