.selectBox__searchInput {
    display: inline-block;
    width: 100%;
    color: #fff;
    font-size: 14px;
    &:focus {
        background: transparent !important;
        color: #fff !important;
    }
}

.selectBox__searchInputContainer {
    display: inline-block;
    width: 100%;
}


.selectBox__loadingIcon {
    composes: reset from './../reset.css';
    position: absolute;
    top: 0;
    right: 41px;
    z-index: 1;
    display: block;
    width: var(--goldenUnit);
    height: var(--goldenUnit);
    text-align: center;
    background: transparent;
    color: #FFF;
    line-height: var(--goldenUnit);
}