@import "../reset";

.selectBoxHeaderWithSearchInput {
    display: flex;
    padding-left: var(--spacing-Full);
}

.selectBoxHeaderWithSearchInput__inputContainer {
    width: 100%;
}

.selectBoxHeaderWithSearchInput__input {
    width: 100%;
    color: #fff;
    /* TODO: move to reset / use var */
    font-size: 14px;

    &:focus {
        background: transparent !important;
        color: #fff !important;
    }
}

.selectBoxHeaderWithSearchInput__icon {
    @include reset;
    height: var(--spacing-GoldenUnit);
}
