.header {
    position: relative;
    height: 24px;
    line-height: 24px;
    padding-left: 15px;
}
.header__chevron {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-top: -3px;
    cursor: pointer;
    color: $brighter;

    &:hover {
        color: $brand;
    }
}
.header__chevron--isCollapsed {
    transform: translateY(-35%) translateX(-25%) rotate(-90deg);
}

.header__chevron--isLoading,
.header__chevron--isLoading:hover {
    color: $brighter !important;
}

.header__data {
    display: block;
    cursor: pointer;
}
.header__data--isFocused {
    background: $neutral;
}
.header__label {
    .header__data--isActive & {
        color: $brand;
    }
}

.contents {
    margin-left: $spacing;
}
