* {
    box-sizing: border-box;
}

html,
body,
body > div,
body > div > div,
body > div > div > div {
    height: 100%;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: $brightest;
    margin: 0;
    padding: 0;
}
