.leftSideBar {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;

    padding-top: 41px;
    transition: var(--transition-Default)  ease transform;
    will-change: transform;

    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}

.leftSideBar--isHidden {
    transform: translateX(-var(--sidebarWidth));
}

.leftSideBar__top {
    flex-basis: 100%;
}

.leftSideBar__bottom {
    height: auto;
    flex-basis: 100%;
    transition: flex-basis var(--transition-Slow), height var(--transition-Slow), overflow-y var(--transition-Slow);
}

.leftSideBar__bottom--isCollapsed {
    flex-basis: 0%;
    height: auto;
    overflow-y: visible;
}
