.leftSideBar {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;

    padding-top: 38px;
    transition: .2s ease transform;
    will-change: transform;

    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}

.leftSideBar--isHidden {
    transform: translateX(-var(--sidebarWidth));
}

.leftSideBar__top {
    flex-basis: 100%;
}

.leftSideBar__bottom {
    height: auto;
    flex-basis: 100%;
    transition: flex-basis .5s, height .5s, overflow-y .5s;
}

.leftSideBar__bottom--isCollapsed {
    flex-basis: 0%;
    height: auto;
    overflow-y: visible;
}
