.leftSideBar {
    composes: leftSidebar from '../style.module.css';
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    background: var(--colors-ContrastDarkest);
    min-width: 320px;
    max-width: 50vw;
    right: unset;
    position: relative;
    resize: horizontal;
    overflow-x: auto;
    overflow-y: hidden;
}

.leftSideBar--isHidden {
    display: none;
}

.leftSideBar__header {
    display: flex;
    gap: 5px;
    cursor: pointer;
    height: 41px;
    line-height: 40px;
    font-weight: bold;
    background: var(--colors-ContrastDarkest);
    composes: leftSideBarHeader from '../style.module.css';
}

.leftSideBar__toggleBtn {
    width: 46px;
    border: none;
    background: var(--colors-ContrastDarkest);
}

.leftSideBar__top {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    /* Leave space for the toolbar and the resize icon */
    min-height: calc(40px + 40px);
    height: 50%;
    margin-right: var(--spacing-Quarter);
    resize: vertical;
    overflow-y: auto;
    z-index: 1;
    background: var(--colors-ContrastDarker);
}
.leftSideBar__top--isFullHeight {
    flex: 1;
    resize: none;
}

.leftSideBar__bottom {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 40px;
    margin-right: var(--spacing-Quarter);
    background: var(--colors-ContrastDarker);
}

.leftSideBar__bottom--isCollapsed {
    flex: 0 0 var(--spacing-GoldenUnit);
    overflow-y: hidden;
}
