.leftSideBar {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;

    padding-top: 41px;
    transition: var(--transition-Default)  ease transform;
    will-change: transform;

    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}

.leftSideBar--isHidden {
    transform: translateX(-var(--size-SidebarWidth));
}

.leftSideBar__top {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}

.leftSideBar__bottom {
    flex: 0 0 50%;
    transition: flex-basis var(--transition-Slow), height var(--transition-Slow), overflow-y var(--transition-Slow);
    display: flex;
    flex-direction: column;
}

.leftSideBar__bottom--isCollapsed {
    flex: 0 0 var(--spacing-GoldenUnit);
    overflow-y: hidden;
}
