.leftSideBar {
    padding-top: 41px;
    transition: .2s ease transform;
    will-change: transform;

    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}
.leftSideBar--isHidden {
    transform: translateX(-var(--sidebarWidth));
}
