.grid {
    composes: reset from './../reset.css';
    margin-left: -10px;
    margin-right: -10px;

    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}
.grid__item {
    composes: reset from './../reset.css';
    float: left;
    padding-left: 10px;
    padding-right: 10px;

    /*
     * Declared to maintain the grid width even if the gridItem has no children.
     */
    min-height: 1px;
}
