.grid {
    composes: reset from './../reset.css';

    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}
.gird--gutter-regular {
    margin-left: -10px;
    margin-right: -10px;

    > .grid__item {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.gird--gutter-micro {
    margin-left: -1px;
    margin-right: -1px;

    > .grid__item {
        padding-left: 1px;
        padding-right: 1px;
    }
}
.grid__item {
    composes: reset from './../reset.css';
    float: left;

    /*
     * Declared to maintain the grid width even if the gridItem has no children.
     */
    min-height: 1px;
}
