.body {
    padding: var(--neos-spacing-Full);
}

.editor {
    margin-bottom: var(--neos-spacing-Full);
}

.modalContents {
    padding: 0 var(--neos-spacing-Full) var(--neos-spacing-Full) var(--neos-spacing-Full);
    color: var(--neos-colors-ContrastBrighter);
}
