.body {
    padding: var(--spacing-Full);
}

.editor {
    margin-bottom: var(--spacing-Full);
}

.modalContents {
    padding: 0 var(--spacing-Full) var(--spacing-Full) var(--spacing-Full);
    color: var(--colors-ContrastBrighter);
}
