.body {
    padding: var(--spacing);
}

.editor {
    margin-bottom: var(--spacing);
}

.modalContents {
    padding: 0 var(--spacing) var(--spacing) var(--spacing);
    color: var(--brandColorsContrastBrighter);
}
