.toolBar {
    border-bottom: 1px solid $dark;
}
.toolBar__btnGroup {
    border-bottom: 1px solid $dark;

    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}
.toolBar__btnGroup__btn {
    float: left;
}
