.flashMessageContainer {
    position: fixed;
    z-index: var(--zIndex-FlashMessageContainer);
    top: 0;
    left: 50%;
    width: 512px;
    padding-top: 8px;
    transform: translate(-50%, 0);

    &:empty {
        display: none;
    }
}
