.flashMessageContainer {
    position: fixed;
    z-index: var(--zIndex-FlashMessageContainer);
    top: 0;
    left: 50%;
    width: 516px;
    margin-top: 8px;
    transform: translate(-50%, 0);
    max-height: calc(100% - 16px);
    overflow: auto;

    &:empty {
        display: none;
    }
}
