.rightSideBar {
    padding-top: 41px;
    padding-bottom: 41px;
    transition: .2s ease transform;
    will-change: transform;

    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}
.rightSideBar--isHidden {
    transform: translateX(320px);
}
.rightSideBar__toggleBtn {
    position: absolute;
    right: 0;
    top: 41px;
    border-left: 1px solid $dark;
    background: $darker;
    transition: .2s ease transform;
    will-change: transform;

    .rightSideBar--isHidden & {
        transform: translateX(-320px);
    }
}
.rightSideBar__section {
    border-bottom: 1px solid $dark;
}
