.panel {
    composes: reset from './../reset.css';
    position: relative;
}

.panel__headline {
    composes: reset from './../reset.css';
    height: var(--goldenUnit);
    margin: 0;
    padding: 0 0 0 var(--spacing);
    line-height: var(--goldenUnit);
    font-weight: bold;
    font-size: var(--baseFontSize);
    border-top: 1px solid var(--brandColorsContrastDark);
    border-bottom: 1px solid var(--brandColorsContrastDark);
    display: flex;
}

.panel__headline--noPadding {
    padding: 0;
}

.panel__toggleBtn {
    composes: reset from './../reset.css';
}

.panel__toggleBtnTooltip {
  flex: 0 0 auto;
  margin-left: auto;
  z-index: 9;
}

.panel__contents {
    composes: reset from './../reset.css';
    padding: 0 var(--spacing);
    transition: .5s ease padding;

    .panel--isOpen & {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .panel--condensed.panel--isOpen & {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.panel__contents--noPadding {
    padding: 0;
}
