.panel {
    position: relative;

    > div {
        overflow: hidden;
    }
}
.panel__headline {
    height: var(--goldenUnit);
    margin: 0;
    padding: 0 var(--spacing);
    line-height: var(--goldenUnit);
}
.panel__toggleBtn {
    position: absolute;
    top: 0;
    right: 0;
}
.panel__contents {
    padding: 0 var(--spacing);
    transition: .5s ease padding;

    .panel--isOpen & {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
