.dropDown__header {
    border-top: 2px solid var(--colors-Success);
    border-radius: 0;
}
.dropDown__header--isDirty {
    border-top: 2px solid var(--colors-Warn);
}
.dropDown__header--isReadOnly {
    border-top: 2px solid var(--colors-PrimaryBlue);
}

.dropDown__contents {
    /** Make sure that we keep the width when opening the dropdown, as the filter and list have a min-width */
    min-width: 255px;
    right: 0;
    left: unset;
}

.dropDown__label {
    padding-inline: 5px;
}

/* Theme overrides for the selectBox and nested components */
.selectBox__btn {
    background-color: transparent;
}
.selectBox__btn:has(> .selectBoxHeaderWithSearchInput) {
    background-color: var(--colors-ContrastNeutral);
}
.listPreviewElement--isDisabled {
    color: var(--colors-ContrastBrightest);
}
