.dropDownContents {
    /** Make sure that we keep the width when opening the dropdown, as the filter and list have a min-width */
    min-width: 255px;
}

.dropDownButton {
    border-top: 2px solid var(--colors-Success);
    background: var(--colors-ContrastDarker);
}
.dropDownButton--isDirty {
    border-top: 2px solid var(--colors-Warn);
}
.dropDownButton--isReadOnly {
    border-top: 2px solid var(--colors-PrimaryBlue);
}

.labelEllipsis {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /* including padding */
    max-width: calc(255px + (var(--spacing-Full) * 2));
}
