<!doctype html>
{namespace neos=TYPO3\Neos\ViewHelpers}
<html>
    <head>
        <title>PackageFactory Guevara - Viva la Revolución!</title>
        <link rel="stylesheet" href="{f:uri.resource(path: 'resource://Neos.Neos.Ui/Public/Styles/Login.css')}">
		<link rel="stylesheet" href="{f:uri.resource(path: 'resource://Neos.Neos.Ui/Public/JavaScript/Login.js')}">
    </head>
    <body>
        <f:form name="login" action="authenticate">
            <header>
                Login to
                <strong>{site.name}</strong>
            </header>
            <fieldset>
              <f:if condition="{username}">
                  <f:then>
                    <f:form.textfield
                        required="required"
                        id="username"
                        type="text"
                        placeholder="{neos:backend.translate(id: 'username', value: 'Username')}"
                        class="neos-span12"
                        name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][username]"
                        value="{username}"
                    />

                    <f:form.textfield
                        required="required"
                        id="password"
                        type="password"
                        placeholder="{neos:backend.translate(id: 'password', value: 'Password')}"
                        name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][password]"
                        additionalAttributes="{autofocus:'autofocus'}"
                    />
                  </f:then>
                  <f:else>
                      <f:form.textfield
                          required="required"
                          id="username"
                          type="text"
                          placeholder="{neos:backend.translate(id: 'username', value: 'Username')}"
                          name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][username]"
                          additionalAttributes="{autofocus:'autofocus'}"
                          value="{username}"
                      />

                      <f:form.textfield
                          required="required"
                          id="password"
                          type="password"
                          placeholder="{neos:backend.translate(id: 'password', value: 'Password')}"
                          name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][password]"
                      />
                  </f:else>
              </f:if>

              <div class="neos-actions">
                <!-- Forgot password link will be here -->
                <f:form.button type="submit" class="neos-span5 neos-pull-right neos-button neos-login-btn">
                  <neos:backend.translate id="login" value="Login" />
                </f:form.button>
                <f:flashMessages as="flashMessages">
                  <f:for each="{flashMessages}" as="flashMessage">
                    <f:if condition="{flashMessage.severity} == 'OK'">
                      <div class="neos-tooltip neos-bottom neos-in neos-tooltip-success">
                    </f:if>
                    <f:if condition="{flashMessage.severity} == 'Notice'">
                      <div class="neos-tooltip neos-bottom neos-in neos-tooltip-notice">
                    </f:if>
                    <f:if condition="{flashMessage.severity} == 'Warning'">
                      <div class="neos-tooltip neos-bottom neos-in neos-tooltip-warning">
                    </f:if>

                    <f:if condition="{flashMessage.severity} == 'Error'">
                      <div class="neos-tooltip neos-bottom neos-in neos-tooltip-error">
                    </f:if>
                    <div class="neos-tooltip-arrow"></div>
                    <div class="neos-tooltip-inner">{neos:backend.translate(id: 'flashMessage.{flashMessage.code}', package: 'TYPO3.Neos', value: flashMessage)}</div>
                      </div>
                  </f:for>
                </f:flashMessages>
              </div>
            </fieldset>
        </f:form>
    </body>
</html>
