.markHoveredNodeAsHovered {
    outline-offset: .5em;
    outline: 2px solid rgba(#000, .2);
}
.markHiddenNodeAsHidden {
    opacity: .5;
}

.addEmptyContentCollectionOverlay {
    height: 20px;
    width: 100%;
    outline: 2px solid var(--brandColorsContrastBrighter);
}

.markActiveNodeAsFocused--focusedNode {
    outline-offset: .5em;
    outline: 2px solid var(--brandColorsPrimaryBlue);
}

:global(.neos-inline-editable:focus) {
    outline: none;
}

.notInlineEditableOverlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: var(--zIndexNotInlineEditableOverlay);
    background-size: 100%;
    background-image: linear-gradient(to bottom, rgba(50, 50, 50, .1), rgba(50, 50, 50, .2), rgba(50, 50, 50, .1));
}
