version: 2.0

aliases:
  - &workspace_root ~/neos-ui-workspace
  - &store_yarn_package_cache
    key: yarn-cache-v1-{{ checksum "yarn.lock" }}
    paths:
      - ~/.cache/yarn

  - &restore_yarn_package_cache
    keys:
      - yarn-cache-v1-{{ checksum "yarn.lock" }}

  - &store_app_cache
    key: full-app-cache-v2-{{ checksum "Tests/IntegrationTests/TestDistribution/composer.json" }}-{{ checksum "Tests/IntegrationTests/TestDistribution/Configuration/Settings.yaml" }}
    paths:
      - /home/circleci/app

  - &restore_app_cache
    keys:
      - full-app-cache-v2-{{ checksum "Tests/IntegrationTests/TestDistribution/composer.json" }}-{{ checksum "Tests/IntegrationTests/TestDistribution/Configuration/Settings.yaml" }}
      - full-app-cache-v2-{{ checksum "Tests/IntegrationTests/TestDistribution/composer.json" }}-
      - full-app-cache-v2-

  - &save_composer_cache
    key: composer-cache-v2-{{ checksum "Tests/IntegrationTests/TestDistribution/composer.json" }}
    paths:
      - /home/circleci/composer/cache-dir

  - &restore_composer_cache
    keys:
      - composer-cache-v2-{{ checksum "Tests/IntegrationTests/TestDistribution/composer.json" }}
      - composer-cache-v2-

  - &attach_workspace
    at: *workspace_root

  - &persist_to_workspace
    root: .
    paths:
      - .

jobs:
  checkout:
    docker:
      - image: circleci/ruby:2-node-browsers
    environment:
      FLOW_CONTEXT: Production
    steps:
      - checkout
      - restore_cache: *restore_yarn_package_cache

      - run: node --version
      - run: curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.34.0/install.sh | bash
      - run: chmod +x ~/.nvm/nvm.sh
      - run: ~/.nvm/nvm.sh install && ~/.nvm/nvm.sh use
      - run: sudo apt-get update && sudo apt-get install -y rsync
      - run: make install && make build-production

      - save_cache: *store_yarn_package_cache
      - persist_to_workspace: *persist_to_workspace

  codestyle:
    working_directory: *workspace_root
    docker:
      - image: circleci/ruby:2-node-browsers
    steps:
      - attach_workspace: *attach_workspace
      - run: make lint

  unittests:
    working_directory: *workspace_root
    docker:
      - image: circleci/ruby:2-node-browsers
    steps:
      - attach_workspace: *attach_workspace
      - run: make test

  build_flow_app:
    working_directory: *workspace_root
    environment:
      COMPOSER_CACHE_DIR: /home/circleci/composer/cache-dir
    docker:
      - image: cimg/php:7.4.12-node
    steps:
      - attach_workspace: *attach_workspace
      - restore_cache: *restore_composer_cache

      - run: mkdir -p /home/circleci/app/Configuration
      - run: rm -rf /home/circleci/app && cp -r Tests/IntegrationTests/TestDistribution/ /home/circleci/app
      - run: cd /home/circleci/app && composer install

      - save_cache: *save_composer_cache
      - save_cache: *store_app_cache

  e2e:
    environment:
      FLOW_CONTEXT: Production
    docker:
      - image: cimg/php:7.4.12-node
      - image: circleci/mariadb:10.2
        environment:
          MYSQL_DATABASE: neos
          MYSQL_ROOT_PASSWORD: not_a_real_password
    working_directory: *workspace_root
    steps:
      - attach_workspace: *attach_workspace
      - restore_cache: *restore_app_cache

      - run: rm -rf /home/circleci/app/Packages/Application/Neos.Neos.Ui
      - run: cd /home/circleci/app/Packages/Application && mv ~/neos-ui-workspace Neos.Neos.Ui
      - run: |
          cd /home/circleci/app/
          ./flow flow:cache:flush
          ./flow flow:cache:warmup
          ./flow doctrine:migrate
          ./flow user:create --username=admin --password=password --first-name=John --last-name=Doe --roles=Administrator
      - run:
          name: Start flow server
          command: /home/circleci/app/flow server:run --port 8081
          background: true

      - run: curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.34.0/install.sh | bash
      - run: chmod +x ~/.nvm/nvm.sh
      - run: |
          export NVM_DIR="$HOME/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          cd /home/circleci/app/Packages/Application/Neos.Neos.Ui
          nvm install
          nvm use
          make test-e2e-saucelabs
      - store_artifacts:
          path: /home/circleci/app/Data/Logs

workflows:
  version: 2
  build_and_test:
    jobs:
      - checkout:
          filters:
            tags:
              only:
                - /^\d\.\d\.\d/
            branches:
              only:
                - /.*/
      - build_flow_app:
          requires:
            - checkout
      - codestyle:
          requires:
            - checkout
      - unittests:
          requires:
            - checkout
      - e2e:
          requires:
            - build_flow_app
