.searchInput {
    input {
        /* magic number, sorry */
        padding-left: 40px;
        border-radius: 0;

        &:focus {
            background: var(--colors-ContrastDark);
            color: #fff;
        }
    }
}

.clearButton {
    background: transparent;
}

.hidden {
    display: none;
}

.placeholderIcon {
    position: absolute;
    left: var(--spacing-Full);
    height: 40px;
}

.wrapper {
    display: flex;
    border-right: 1px solid var(--colors-ContrastDark);
    position: relative;
    width: 153px;
}

.wrapper--focused {
    .clearButton {
        background: var(--colors-ContrastDark);
    }
}
