.searchInput {
    flex-grow: 1;
}

.searchInput {
    /* magic number, sorry */
    padding-left: 32px;
}
.searchInput--focused {
    padding-left: 0;
}

.clearButton {
    background: var(--colors-ContrastNeutral);
}

.clearButton--focused {
    background: white;
}

.clearButton--focused > i {
    color: var(--colors-ContrastNeutral);
}

.wrapper {
    display: flex;
    border-right: 1px solid var(--colors-ContrastDark);
}

.hidden {
    display: none;
}

.placeholderIcon {
    position: absolute;
    left: var(--spacing-Full);
    line-height: 40px;
}
