.btn {
    vertical-align: top;
}

.btn--isActive {
    transform: translateY(1px);
    padding-bottom: 2px;
    color: var(--brandColorsPrimaryBlue);

    .icon {
        color: var(--brandColorsPrimaryBlue);
    }
}
