.btn {
    vertical-align: top;

    &:focus {
        outline: none;
    }
}

.btn--isActive {
    transform: translateY(1px);
    padding-bottom: 2px;
    color: var(--colors-PrimaryBlue);

    .icon {
        color: var(--colors-PrimaryBlue);
    }
}
