.drawer {
    position: fixed;
    top: 41px;
    left: 0;
    z-index: var(--zIndex-Drawer-Context);
    height: 100%;
    width: var(--size-SidebarWidth);
    background: var(--colors-ContrastDarker);
    transition: var(--transition-Default) ease transform;
    padding-bottom: 41px;
    overflow: scroll;
}
.drawer--isHidden {
    transform: translateX(-var(--size-SidebarWidth));
}
.drawer__menuItem {
    border-top: 1px solid var(--colors-ContrastDark);
    cursor: pointer;

    &:first-child {
        border-top: 0;
    }
}
.drawer__menuItemGroupBtn,
.drawer__menuItemBtn {
    width: 100%;
    padding: 0;
    text-align: left;
    font-size: 15px;
}
/* Set an explicit width for the icons so that the chars are starting */
/* on the same place for every MenuItem */
.drawer__menuItemGroupBtn i,
.drawer__menuItemBtn i {
    width: 2em;
}
.drawer__menuItemGroupBtn {
    font-weight: 700;
}
