.drawer {
    position: fixed;
    top: 41px;
    left: 0;
    z-index: var(--zIndex-Drawer-Context);
    height: 100%;
    width: var(--sidebarWidth);
    background: var(--brandColorsContrastDarker);
    transition: .3s ease transform;
    padding-bottom: 41px;
    overflow: scroll;
}
.drawer--isHidden {
    transform: translateX(-var(--sidebarWidth));
}
.drawer__menuItem {
    border-top: 1px solid var(--brandColorsContrastDark);
    cursor: pointer;

    &:first-child {
        border-top: 0;
    }
}
.drawer__menuItemGroupBtn,
.drawer__menuItemBtn {
    width: 100%;
    padding: 0;
    text-align: left;
    font-size: 15px;
}
.drawer__menuItemGroupBtn {
    font-weight: 700;
}
