.btn {
    vertical-align: top;
}


.btn--isActive {
    transform: translateY(1px);
    padding-bottom: 2px;
    color: var(--brandColorsPrimaryBlue);
    background-color: var(--brandColorsContrastDarkest);
}
