.textArea {
    width: 100%;
    height: 40px;
    padding: 10px 14px;
    margin-bottom: $spacing;
    border: 0;
    background: $neutral;

    &:focus {
        outline: 0;
        background: $brightest;
        color: $darkest;
    }
}
.textArea::-webkit-input-placeholder {
    font-family: 'Noto Sans', sans-serif;
    color: $bright;
}
.textArea--invalid {
    outline: 2px solid $error;
}
