.textArea {
    composes: reset from './../reset.css';
    width: 100%;
    height: 40px;
    padding: 10px 14px;
    border: 0;
    background: var(--brandColorsContrastNeutral);

    &:focus {
        outline: 0;
        background: var(--brandColorsContrastBrightest);
        color: var(--brandColorsContrastDarkest);
    }
}
.textArea::-webkit-input-placeholder {
    font-family: 'Noto Sans', sans-serif;
    color: var(--brandColorsContrastBright);
}
.textArea--invalid {
    outline: 2px solid var(--brandColorsError);
}
