.propertyGroupLabel {
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: 0 40px 0 16px;
}

.propertyGroupIcon {
  line-height: var(--goldenUnit);
  padding-right: var(--spacing);
}
