.contentCanvas {
    float: left;
    height: 100%;
    width: 100%;
    padding: 82px $sidebarWidth 41px;
    transition: .2s ease padding;
    will-change: padding;
}
.contentCanvas--isFringeLeft {
    padding-left: 0;
}
.contentCanvas--isFringeRight {
    padding-right: 0;
}
.contentCanvas--isFullScreen {
    padding: 0;
}
.contentCanvas__contents {
    width: 100%;
    height: 100%;
}
