.wrapper {
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding-right: 47px;
    height: var(--spacing-GoldenUnit);
}

.publishBtn {
    min-width: 212px;
}
.dropDown {
    position: static;
}
.dropDown__btn {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    width: auto;
    height: var(--spacing-GoldenUnit);
    padding: 0 30px 0 var(--spacing-Full);
    border: 0;
    border-radius: 0;
    line-height: var(--spacing-GoldenUnit);
    background: var(--colors-Success);
    text-align: center;
    vertical-align: top;
    cursor: pointer;
}

.dropDown__item {
    border-top: 1px solid var(--colors-ContrastDarker);

    &:hover {
        background: var(--colors-PrimaryBlue);
    }

    > a,
    > label,
    > button {
        display: block;
        width: 100%;
        border: 0;
        padding: 0 var(--spacing-Full);
        background: 0;
        color: #FFF;
        text-decoration: none;
        line-height: var(--spacing-GoldenUnit);
        text-align: left;

        > svg,
        > input {
            margin-right: .5em;
        }
    }
}
.dropDown__item--noHover:hover {
    background: 0;
}
.dropDown__item--disabled {
    opacity: .5;

    &,
    > button[disabled] {
        cursor: not-allowed;
    }
}
.dropDown__item--canPublish {
    background: var(--colors-Warn);

    &:hover {
        background: var(--colors-WarnHover);
    }
}
.dropDown__item--isPublishing,
.dropDown__item--isSaving {
    background: var(--colors-Warn);
    opacity: .5;
}
.dropDown__item--isDiscarding {
    opacity: .5;
}


.badge {
    margin-left: var(--spacing-Half);
}
