.primaryToolbar {
    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}
.primaryToolbar--isHidden {
    display: none;
}
.primaryToolbar__rightSidedActions {
    position: absolute;
    right: 0;
    top: 0;
}

.primaryToolbar__btn {
    border-right: 1px solid $dark;
}
