.envelope__error {
    padding: .5em;
    border: 1px solid var(--colors-Error);
}

.envelope__label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.envelope__tooltipButton {
    padding-left: var(--spacing-Half);
}

.envelope__tooltip {
    position: absolute;
    z-index: var(--zIndex-NodeToolBar);
    max-width: 100%;
}
