.body {
    display: flex;
    height: calc(65vh);
}
.primaryColumn {
    overflow-y: auto;
    width: 100%;
    transition: var(--transition-Default) ease width;
    padding: var(--spacing-Full);
    flex-grow: 0;
    flex-shrink: 0;

    .expanded & {
        width: calc(var(--size-SidebarWidth) + 2 * var(--spacing-Full));
    }
}
.secondaryColumn {
    width: 0;
    opacity: 0;
    transition: var(--transition-Default) ease width,
        var(--transition-Default) ease opacity;

    .expanded & {
        width: 100%;
        opacity: 1;
    }
}
.secondaryColumn__contentWrapper {
    position: relative;
    height: 100%;
    padding: var(--spacing-Full);
    margin-left: var(--spacing-Full);
    width: calc(100% - var(--spacing-Full));
    overflow: hidden;
    box-shadow: inset 0 0 2px #000;
    background-color: rgba(0, 0, 0, .1);
}
.close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.editor {
    margin-bottom: var(--spacing-Full);
}
.buttonIcon {
    margin-right: var(--spacing-Half);
}
