.body {
    padding: var(--spacing-Full);
}
.editor {
    margin-bottom: var(--spacing-Full);
}

.editor--additional-spacing {
    margin-bottom: 100px;
}

.buttonIcon {
    margin-right: var(--spacing-Half);
}
