.searchBar {
  display: flex;
  line-height: 0;
  border-bottom: 1px solid var(--brandColorsContrastDark);
  background-color: var(--brandColorsContrastNeutral);
}

.searchBar > * {
    width: 50%;
}
