.searchBar {
  display: flex;
}

.searchBar__searchInput {
  flex-grow: 1;
}

.searchBar__clearButton {
  background: var(--brandColorsContrastNeutral);
}

.searchBar__clearButton--focused {
  background: white;
}

.searchBar__clearButton--focused > i {
  color: var(--brandColorsContrastNeutral);
}
