.toggler {
	position: relative;
	background-color: #222;
	border-right: 1px solid #3f3f3f;
	display: inline-block;
	padding: 0 16px;
	margin: 0;
  border: 0;
	font-family: 'Noto Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #fff;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	width: auto;
	height: 40px;
	line-height: 40px;
}
.toggler:hover {
	color: $brand;
}
