$maxImageWidth: calc($sidebarWidth - $spacing * 2);
$maxImageHeight: calc(($sidebarWidth - $spacing * 2) / 4 * 3);

.imageEditor {
    min-width: calc($sidebarWidth - $spacing * 2);
}

.imageEditor--dropzone {
    border: none;
}

.imageEditor--dropzone--isActive {
    background-color: $success;
}

.imageEditor--dropzone--isRejecting {
    background-color: $warn;
}

.imageEditor--thumbnail {
    position: relative;
    border: 1px dashed $neutral;
    margin-bottom: calc($spacing - $quarterSpacing);
    width: $maxImageWidth;
    height: $maxImageHeight;
    display: table;

    /* TODO: border-color: #fff; on hover */
}


.imageEditor--thumbnailInner {
    /** TODO neos-inspector-image-thumbnail-cropped **/
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}

.imageEditor--cropButton {
    float: right;
}


.mediaSelectionScreen__iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
}

.resizeControls {
    display: flex;
}
.resizeControls__before {
    height: 40px;
    width: 40px;
    border-right: 1px solid $darker;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $neutral;
}

.resizeControls__main {
    flex-grow: 1;
}
.resizeControls__after {
    height: 40px;
    width: 40px;
    background: $neutral;
    border-left: 1px solid $darker;
    text-align: center;

    line-height: 40px;
}