.modalTitle {
    margin-left: var(--spacing-Full);
    word-break: break-all;
}
.modalContents {
    padding: var(--spacing-Full);
    word-break: break-all;
}
.buttonIcon {
    margin-right: var(--spacing-Half);
}
.modalTitleContainer {
    display: flex;
}
