.rightSideBar {
    padding-top: 41px;
    padding-bottom: 41px;
    transition: .2s ease transform;

    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}
.rightSideBar--isHidden {
    transform: translateX(var(--sidebarWidth));
}
.rightSideBar__toggleBtn {
    width: 46px;
    position: absolute!important;
    right: 0;
    top: 41px;
    border-left: 1px solid var(--brandColorsContrastDark);
    background: var(--brandColorsContrastDarker);
    transition: .2s ease transform;
    will-change: transform;

    .rightSideBar--isHidden & {
        transform: translateX(-var(--sidebarWidth));
    }

    .rightSidebar__toggleBtnWrapper & {
        position: static!important;
    }
}
.rightSidebar__toggleBtnWrapper {
    position: absolute!important;
    right: 0;
    top: 41px;
    width: var(--goldenUnit);
    height: var(--goldenUnit);
}
