.rightSideBar {
    grid-area: rightSidebar;
    width: 100%;
    padding-bottom: 41px;
    right: unset;
    position: relative;
    background-color: transparent;
}
.rightSideBar--isHidden {
    width: 0;
}
.rightSideBar--isHidden > div {
    display: none;
}

.rightSideBar__toggleBtn {
    width: 46px;
    position: absolute!important;
    right: 0;
    top: 0;
    border: none;
    background: var(--colors-ContrastDarkest);
}

.rightSideBar__components {
    background: var(--colors-ContrastDarkest);
    height: 100%;
}

.rightSideBar__section {
    border-bottom: 1px solid var(--colors-ContrastDark);
}

.rightSideBar__header {
    background: var(--colors-ContrastDarkest);
    margin-left: var(--spacing-Quarter);
}
