@import 'normalize.css';

@font-face {
    font-family: 'Open Sans';
    src: url('../../../Resources/Private/Fonts/OpenSans-Light.woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../../Resources/Private/Fonts/OpenSans-LightItalic.woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../../Resources/Private/Fonts/OpenSans-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../../Resources/Private/Fonts/OpenSans-Italic.woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../../Resources/Private/Fonts/OpenSans-SemiBold.woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../../Resources/Private/Fonts/OpenSans-SemiBoldItalic.woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../../Resources/Private/Fonts/OpenSans-Bold.woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../../Resources/Private/Fonts/OpenSans-BoldItalic.woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../../Resources/Private/Fonts/OpenSans-ExtraBold.woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../../Resources/Private/Fonts/OpenSans-ExtraBoldItalic.woff');
    font-weight: 900;
    font-style: italic;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: var(--brandColorsContrastBrightest);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

hr {
    margin: 0;
    border: 1px solid #3f3f3f;
}
