@import 'normalize.css';

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans'), local('NotoSans'), url('../../../Resources/Public/Fonts/NotoSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'), url('../../../Resources/Public/Fonts/NotoSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Noto Sans Italic'), local('NotoSans-Italic'), url('../../../Resources/Public/Fonts/NotoSans-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'), url('../../../Resources/Public/Fonts/NotoSans-BoldItalic.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: var(--colors-ContrastBrightest);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

hr {
    margin: 0;
    border: 1px solid #3f3f3f;
}

/* normalize.css doesn't reset link underline */
a {
    text-decoration: none;
}
