@import 'normalize.css';

@font-face {
    font-family: "Noto Sans";
    src: local("Noto Sans Regular"), local("NotoSans-Regular"), url("notosans-fontface/fonts/NotoSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans";
    src: local("Noto Sans Italic"), local("NotoSans-Italic"), url("notosans-fontface/fonts/NotoSans-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Noto Sans";
    src: local("Noto Sans Bold"), local("NotoSans-Bold"), url("notosans-fontface/fonts/NotoSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans";
    src: local("Noto Sans BoldItalic"), local("NotoSans-BoldItalic"), url("notosans-fontface/fonts/NotoSans-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: var(--colors-ContrastBrightest);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

hr {
    margin: 0;
    border: 1px solid #3f3f3f;
}

/* normalize.css doesn't reset link underline */
a {
    text-decoration: none;
}
