.contentCanvas {
    float: left;
    height: 100%;
    width: 100%;
    padding: 82px var(--sidebarWidth) 0;
    transition: .2s ease padding;
    will-change: padding;
    background-color: var(--brandColorsContrastDarker);
}
.contentCanvas--isFringeLeft {
    padding-left: 0;
}
.contentCanvas--isFringeRight {
    padding-right: 0;
}
.contentCanvas--isMovedDown {
    padding-top: 192px; /* height of EditModePanel added */
}
.contentCanvas--isFullScreen {
    padding: 0;
}
.contentCanvas__itemWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    transition: .2s ease width, .2s ease height;
}
.contentCanvas__contents {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.markHoveredNodeAsHovered {
    outline-offset: .5em;
    outline: 2px solid rgba(#000, .2);
}
.markHiddenNodeAsHidden {
    opacity: .5;
}

.editable:focus {
    outline: none;
}
