.tools {
    height: 56px;
    margin: 3em 0 1em 0;
}
.aspectRatioIndicator {
    width: 100px;
    margin-right: 1em;
    display: inline-block;
}
.aspectRatioIndicator svg {
    margin-right: .3em;
}
.dimensions {
    display: inline-block;
    width: 225px;
    margin-left: 1em;
}
.dimensionsWrapper {
    display: flex;
}

.dimensionInput {
    width: 6em;
    display: inline-block;
}
