
.selectBoxHeader {
    display: flex;
    width: 100%;
}

.selectBoxHeader__innerPreview {
    overflow: hidden;
    width: 100%;
}

.selectBoxHeader__icon {
    composes: reset from './../reset.css';
    line-height: var(--spacing-GoldenUnit);
    height: 100%;
}

.selectBoxHeader__label {
    padding: 0 var(--spacing-Full);
}

.selectBoxHeader__wrapperIconWrapper {
    padding: 0 var(--spacing-Full);
}

.selectBoxHeader__wrapperPlaceholderIconWrapper {
    padding: 0 var(--spacing-Half) 0 0;
}

.selectBoxHeader--disabled {
    cursor: not-allowed;
}
