.referenceOption {
    padding: var(--halfSpacing);
    box-sizing: content-box;
    height: var(--goldenUnit);
    line-height: 20px;
}

.referenceOption__link {
    color: var(--brandColorsContrastBright);
    display: block;
    font-size: 12px;
}
