.bar {
    position: absolute;
    width: 100%;
    background-color: #222;
    height: 41px;
    border-bottom: 1px solid white;
    color: white;
}

.top {
    top: 0;
    left: 0;
}

.bottom {
    bottom: 0;
    left: 0;
}
