.bar {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: #222;
    height: 41px;
    border-bottom: 1px solid #3f3f3f;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}
