.wrapper {
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.dropDown {
    position: static;
    display: block;
}
.dropDown__btn {
    position: relative;
    height: var(--spacing-GoldenUnit);
    border: 0;
    background-color: var(--colors-ContrastDarker);
    text-align: right;
}
.dropDown__btnIcon {
    margin-right: .5em;
}
.dropDown__contents {
    position: relative;
    min-width: 160px;
    box-shadow: 0 5px 10px rgba(#000, .2);
}
.dropDown__item {
    height: var(--spacing-GoldenUnit);
    background: var(--colors-ContrastNeutral);
    border-top: 1px solid var(--colors-ContrastDarker);

    &:hover {
        background: var(--colors-PrimaryBlue);
    }

    > a,
    button {
        display: block;
        width: 100%;
        border: 0;
        padding: 0 var(--spacing-Full);
        background: 0;
        color: #FFF;
        cursor: pointer;
        text-decoration: none;
        line-height: var(--spacing-GoldenUnit);
        text-align: left;
    }
}
.dropDown__itemIcon {
    margin-right: .5em;
}
