.wrapper {
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.dropDown {
    position: static;
    display: block;
}
.dropDown__btn {
    position: relative;
    height: var(--goldenUnit);
    border: 0;
    background-color: var(--brandColorsContrastDarker);
}
.dropDown__btnIcon {
    margin-right: .5em;
}
.dropDown__contents {
    min-width: 160px;
    box-shadow: 0 5px 10px rgba(#000, .2);
}
.dropDown__item {
    height: var(--goldenUnit);
    background: var(--brandColorsContrastNeutral);
    border-top: 1px solid var(--brandColorsContrastDarker);

    &:hover {
        background: var(--brandColorsPrimaryBlue);
    }

    > a,
    button {
      display: block;
      width: 100%;
      border: 0;
      padding: 0 var(--spacing);
      background: 0;
      color: #FFF;
      cursor: pointer;
      text-decoration: none;
      line-height: var(--goldenUnit);
      text-align: left;
    }
}
.dropDown__itemIcon {
    padding-right: .5em;
}
