.menuToggler {
    width: calc(var(--spacing-GoldenUnit) * 4);

    &:focus {
        outline: 0;
    }
}

.menuToggler--isActive {
    color: var(--colors-PrimaryBlue);
    background: var(--colors-PrimaryBlue);
    color: #fff;

    .menuToggler__icon {
        color: #fff;

        &:hover,
        &:focus {
            color: #fff;
        }
    }
}

.menuToggler__icon {
    position: absolute;
    top: 2px;
    left: var(--spacing-Full);
    display: block;
    width: 22px;
    height: 34px;

    &:before,
    &:after {
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 3px;
        border-color: currentColor;
    }

    &:before {
        top: 10px;
        border-top: 3px solid;
        border-bottom: 3px solid;
        content: '';
    }

    &:after {
        top: 22px;
        background-color: currentColor;
        content: '';
    }

    &:hover {
        text-decoration: none;
        color: var(--colors-PrimaryBlue);
    }
}

.menuToggler__logo {
    position: absolute;
    top: 8px;
    left: 56px;
    height: 22px;
    width: auto;
}
