.toolBar {
    position: absolute;
    border-bottom: 1px solid $dark;
    background: #222;
    white-space: nowrap;
}
.toolBar__btnGroup {
    border-bottom: 1px solid $dark;

    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}
.toolBar__btnGroup__btn {
    float: left;
}

.toolBar--isHidden {
    display: none;
}
