.resizeControls {
    display: flex;
}
.resizeControls__label {
    margin-top: var(--spacing);
    margin-bottom: var(--quarterSpacing);
}
.resizeControls__before {
    height: var(--goldenUnit);
    width: var(--goldenUnit);
    border-right: 1px solid var(--brandColorsContrastDarker);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--brandColorsContrastNeutral);
}

.resizeControls__main {
    flex-grow: 1;
}
.resizeControls__after {
    height: var(--goldenUnit);
    width: var(--goldenUnit);
    background: var(--brandColorsContrastNeutral);
    border-left: 1px solid var(--brandColorsContrastDarker);
    text-align: center;

    line-height: var(--goldenUnit);
}

.resizeControls__checkbox {
    margin-right: 0 !important;
}