.resizeControls {
    display: flex;
}
.resizeControls__label {
    margin-top: var(--spacing-Full);
    margin-bottom: var(--spacing-Quarter);
}
.resizeControls__before {
    height: var(--spacing-GoldenUnit);
    width: var(--spacing-GoldenUnit);
    border-right: 1px solid var(--colors-ContrastDarker);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--colors-ContrastNeutral);
}

.resizeControls__main {
    flex-grow: 1;
}
.resizeControls__after {
    height: var(--spacing-GoldenUnit);
    width: var(--spacing-GoldenUnit);
    background: var(--colors-ContrastNeutral);
    border-left: 1px solid var(--colors-ContrastDarker);
    text-align: center;

    line-height: var(--spacing-GoldenUnit);
}

.resizeControls__checkbox {
    margin-right: 0 !important;
}
