.nodeInfoView {
    background-color: var(--brandColorsContrastNeutral);
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
        padding: 8px;
        border-bottom: 1px solid #222;
        line-height: 20px;
        min-height: 20px;

        &:last-child {
            border-bottom: none;
        }
    }

    &__title {
        font-weight: bold;
    }

    &__content {
        font-size: 13px;
    }
}
