.dialog {
    composes: reset from './../reset.css';
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--zIndex-Dialog-Context);
    width: 100vw;
    height: 100vh;
    background: rgba(#000, .35);
}
.dialog__contentsPosition {
    composes: reset from './../reset.css';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: var(--colors-ContrastDarker);
    outline: none;
}
.dialog__contents {
    composes: reset from './../reset.css';
    position: relative;
    width: calc(100vw - var(--spacing-GoldenUnit) * 2);
    max-width: calc(var(--spacing-GoldenUnit) * 16);
    border: 1px solid var(--colors-ContrastDark);

    .dialog--wide & {
        max-width: calc(var(--spacing-GoldenUnit) * 24);
    }

    .dialog--narrow & {
        max-width: 400px;
    }
}
.dialog__title {
    composes: reset from './../reset.css';
    font-size: 16px;
    line-height: 1.2;
    padding: var(--spacing-Full);
}
.dialog__closeBtn {
    composes: reset from './../reset.css';
    position: absolute;
    top: 0;
    right: 0;
}
.dialog__body {
    max-height: calc(65vh);
    overflow-y: visible;
}
.dialog__actions {
    composes: reset from './../reset.css';
    text-align: right;
    border-top: 1px solid var(--colors-ContrastDark);
    padding: var(--spacing-Full);
}
.dialog__actions > * {
    margin-left: calc(var(--spacing-Full) / 2);
}
.dialog__backDrop {
    composes: reset from './../reset.css';
    position: absolute;
    height: 100%;
    width: 100%;
}
