.wrapper {
    display: inline-block;
    position: relative;
    vertical-align: top;
    height: var(--spacing-GoldenUnit);
}
.iconRebase {
    height: 100%;
    width: auto;
}

.iconRebase svg {
    height: 1.5rem;
    width: auto;
}

.iconRebase span {
    display: flex;
    align-items: center;
}
.rebaseButton {
    padding: var(--spacing-Quarter);
    border-left: 1px solid black;
}
