.pageTree {
    overflow-y: auto;
    /* Node Tree is expected to be rendered inside a display: flex container - and it will take up all remaining space */
    flex: 1 0 0px;
    transition: var(--transition-Slow) ease height, overflow-y var(--transition-Slow);
    background: var(--colors-ContrastDarker);
    border-bottom: 1px solid var(--colors-ContrastDark);
    border-right: 1px solid var(--colors-ContrastDark);
    position: relative;
}
.loader {
    margin: var(--spacing-Quarter);
}
.collapseAll {
    position: absolute;
    right: 0;
    top: 0;
    opacity: .5;
    cursor: pointer;
    z-index: 5;
    padding: 8px;
    font-size: 1.4em;

    &:hover > svg {
        color: var(--colors-PrimaryBlueHover);
    }
}
