.root {
    display: flex;
    align-items: center;
}

.label {
    @media(max-width: 720px) {
        display: none;
    }
}

.buttonGroup {
    margin-left: 4px;

    > button:first-child {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }
    > button:last-child {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}
