.keyboardShortcutIntroText {
    padding: var(--spacing-Half) var(--spacing-Full);
}

.keyboardShortcutList {
    display: flex;
    width: 100%;
    padding: 0;
    flex-wrap: wrap;
}

.keyboardShortcut {
    flex: 0 1 auto;
    width: calc(100% / 2);
    border-bottom: 1px solid var(--colors-ContrastDark);
    border-right: 1px solid var(--colors-ContrastDark);
    padding: var(--spacing-Half) var(--spacing-Full);
    font-size: var(--fontSize-Base);

    display: flex;
    vertical-align: center;
    align-items: center;
    justify-content: space-between;
}

.keyboardShortcut__keys {
    background-color: var(--colors-ContrastNeutral);
    font-weight: bold;
    padding: var(--spacing-Half);
    text-align: center;
    width: 60px;
    margin-left: var(--spacing-Full);
}
