.wrapper {
		padding-top: 41px;
    padding-bottom: 41px;
		width: 300px;
		height: 100%;
		background: #222;
}
.wrapper:before,
.wrapper:after {
	  content: '';
	  display: table;
}
.wrapper:after {
	  clear: both;
}
