.wrapper {
    composes: reset from './../reset.css';
    position: relative;
    display: inline-block;
}
.wrapper__btn {
    composes: reset from './../reset.css';
    position: relative;
    width: var(--goldenUnit);
}
.wrapper__btnModeIcon {
    composes: reset from './../reset.css';
    position: absolute;
    right: 4px;
    bottom: 4px;
    color: var(--brandColorsPrimaryBlue);

    [disabled] > & {
        opacity: 0;
    }
}
.wrapper:hover .wrapper__btnIcon {
    color: var(--brandColorsPrimaryBlue) !important;
}
.wrapper__dropDown {
    composes: reset from './../reset.css';
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    background: var(--brandColorsContrastDarker);
    border: 1px solid var(--brandColorsContrastDark);
    border-top: 0;
}
.wrapper__dropDown--isOpen {
    display: block;
}
.wrapper__dropDownItem {
    composes: reset from './../reset.css';
    position: relative;
    display: block;
    width: calc(var(--goldenUnit) - 2px);
    height: calc(var(--goldenUnit) - 2px);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;

    &:hover, &:hover > * {
        color: var(--brandColorsPrimaryBlue);
    }

    > * {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}
