@import "../reset.css";

.wrapper {
    @mixin reset;
    position: relative;
    display: inline-block;
}
.wrapper__btn {
    @mixin reset;
    position: relative;
    width: var(--neos-spacing-GoldenUnit);
}
.wrapper__btnModeIcon {
    @mixin reset;
    position: absolute;
    right: 4px;
    bottom: 4px;
    color: var(--neos-colors-PrimaryBlue);

    [disabled] > & {
        opacity: 0;
    }
}
.wrapper:hover .wrapper__btnIcon {
    color: var(--neos-colors-PrimaryBlue);
}
.wrapper__dropDown {
    @mixin reset;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: var(--neos-zIndex-WrapperDropdown-Context);
    display: none;
    background: var(--neos-colors-ContrastDarker);
    border: 1px solid var(--neos-colors-ContrastDark);
    border-top: 0;
}
.wrapper__dropDown--isOpen {
    display: block;
}
.wrapper__dropDownItem {
    @mixin reset;
    position: relative;
    display: block;
    width: calc(var(--neos-spacing-GoldenUnit) - 2px);
    height: calc(var(--neos-spacing-GoldenUnit) - 2px);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;

    &:hover,
    &:hover > * {
        color: var(--neos-colors-PrimaryBlue);
    }

    > * {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}
