.reset {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #FFF;
    margin: 0;
    padding: 0;

    &,
    &:before,
    &:after {
        box-sizing: border-box;
    }

    /* some browsers set a font-size in their user stylesheets */
    input,
    textarea,
    select,
    button {
        font-size: var(--baseFontSize);
    }
    ul {
        padding: 0;
    }
    /* webkit adds some weird spacing otherwise */
    li {
        display: block;
    }
    input::-webkit-search-cancel-button {
        display: none;
    }
}
