.inspector {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.discardBtn,
.publishBtn {
    width: 100%;
    text-align: center;
}
.publishBtn,
.publishBtn:hover {
    background: var(--brandColorsSuccess) !important;
}
.tabs > div {
    height: 100%;
}
.forceApplyOverlay {
    left: 0;
    width: calc(100% - var(--sidebarWidth));
    height: 100%;
    z-index: 10000;
    &,
    &::after {
        position: fixed;
        top: 0;
        background-color: transparent;
    }
    &::after {
        content: '';
        top: 0;
        right: 0;
        height: var(--goldenUnit);
        width: var(--sidebarWidth);
    }
}
