.inspector {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.actions {
    position: absolute;
    display: flex;
    border-left: 1px solid var(--colors-ContrastDark);
    left: var(--spacing-Quarter);
    right: 0;
    bottom: 0;
}
.discardButton,
.publishButton {
    width: 100%;
    text-align: center;
}
.publishButton {
    background: var(--colors-Success) !important;

    &:hover {
        background: var(--colors-SuccessHover) !important;
    }
}
.tabs {
    margin-left: var(--spacing-Quarter);
    border-left: 1px solid var(--colors-ContrastDark);
    background: var(--colors-ContrastDarker);
}
.tabs__notificationBadge {
    position: absolute;
    right: 1px;
    top: 1px;
    z-index: 1;
    background-color: var(--colors-Error);
    color: var(--colors-ContrastBrightest);
    transform: scale(.75);
}
.tabsContent > div {
    height: 100%;
}
.unappliedChangesOverlay {
    left: 0;
    width: calc(100% - var(--size-SidebarWidth));
    height: 100%;
    z-index: var(--zIndex-UnappliedChangesOverlay-Context);
    filter: blur(5px);
    &,
    &::after {
        position: fixed;
        top: 0;
        background-color: transparent;
    }
    &::after {
        content: '';
        top: 0;
        right: 0;
        height: var(--spacing-GoldenUnit);
        width: var(--size-SidebarWidth);
    }
}
.centeredInspector {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
