.inspector {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.discardBtn,
.publishBtn {
    width: 100%;
    text-align: center;
}
.publishBtn,
.publishBtn:hover {
    background: var(--brandColorsSuccess) !important;
}
