.sideBar {
    composes: reset from './../reset.css';
    position: absolute;
    width: var(--size-SidebarWidth);
    height: 100%;
    background: var(--brandColorsContrastDarker);
}
.sideBar--left {
    left: 0;
}
.sideBar--right {
    right: 0;
}
