@import "../reset";

.sideBar {
    @include reset;
    position: fixed;
    width: var(--size-SidebarWidth);
    height: 100%;
    background: var(--colors-ContrastDarker);
}
.sideBar--left {
    left: 0;
}
.sideBar--right {
    right: 0;
}
