.neos\/contentComponent {
  outline-offset: 0.5em; }
  .neos\/contentComponent:hover {
    outline: 2px solid rgba(0, 0, 0, 0.2); }

.neos\/contentComponent--active {
  outline: 2px solid rgba(41, 115, 140, 0.2); }
