._Resources_Private_JavaScript_Guest_style__neos\/contentComponent {
    outline-offset: 0.5em;

    &:hover {
        outline: 2px solid rgba(#000, 0.2);
    }
}

._Resources_Private_JavaScript_Guest_style__neos\/contentComponent--active {
    outline: 2px solid rgba(#29738C, 0.2);
}
