.bar {
  position: absolute;
  width: 100%;
  background-color: #222;
  height: 41px;
  border-bottom: 1px solid white;
  color: white; }

.bar--top {
  top: 0;
  left: 0; }

.bar--bottom {
  bottom: 0;
  left: 0; }

.contentView {
  box-sizing: border-box;
  padding: 41px 0;
  height: 100%; }

.contentView__tab {
  display: none;
  width: 100%;
  height: 100%; }

.contentView__tab--active {
  display: block; }

.tabSwitcher__tab {
  width: 12%;
  height: 41px;
  line-height: 41px;
  float: left;
  text-align: center;
  border-right: 1px solid white;
  cursor: pointer; }

.tabSwitcher__tab--active {
  background-color: white;
  color: #222;
  cursor: auto; }

html, body, #appContainer, #appContainer > div, #appContainer > div > div {
  height: 100%; }

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0;
  padding: 0; }
