.modalContents {
    padding: var(--spacing-Full);
}
.discardBtn,
.resumeBtn,
.publishBtn {
    width: 100%;
    text-align: center;
}
.discardBtn,
.discardBtn:hover {
    background: var(--colors-Warn) !important;
}
.publishBtn,
.publishBtn:hover {
    background: var(--colors-Success) !important;
}
