.modalContents {
    display: flex;
    padding: var(--spacing-Full);
}
.button:not(:first-of-type) {
    margin-left: var(--spacing-Full);
}
.discardButton,
.resumeButton,
.publishButton {
    width: 100%;
    text-align: center;
}
.discardButton {
    background: var(--colors-Warn) !important;

    &:hover {
        background: var(--colors-WarnHover) !important;
    }
}
.publishButton {
    background: var(--colors-Success) !important;

    &:hover {
        background: var(--colors-SuccessHover) !important;
    }
}
