.tooltip {
    position: absolute;
}

.tooltip--arrow {
    position: relative;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -var(--spacing-Half);
    border-left: var(--spacing-Half) solid transparent;
    border-right: var(--spacing-Half) solid transparent;
    border-bottom: var(--spacing-Half) solid var(--colors-Error);
}

.tooltip--inner {
    position: relative;
    padding: var(--spacing-Half);
    background: var(--colors-Error);
    color: white;
}
