.tooltip {
    position: absolute;
    z-index: 1000;
    transition: all 2s ease-in;
}

.tooltip--arrow {
    position: relative;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -var(--halfSpacing);
    border-left: var(--halfSpacing) solid transparent;
    border-right: var(--halfSpacing) solid transparent;
    border-bottom: var(--halfSpacing) solid var(--brandColorsError);
}

.tooltip--inner {
    position: relative;
    padding: var(--halfSpacing);
    background: var(--brandColorsError);
    color: white;
    border-radius: 3px;
    font-size: 11px;
}

.tooltip--regular .tooltip--arrow {
  border-bottom: var(--halfSpacing) solid var(--brandColorsContrastDarker);
}

.tooltip--regular .tooltip--inner {
  background: var(--brandColorsContrastDarker);
}
