.tabs {
    composes: reset from './../reset.css';
    height: 100%;
}

.tabs__content {
    composes: reset from './../reset.css';
    height: calc(100% - 41px);
    overflow-y: auto;
}

.tabNavigation {
    composes: reset from './../reset.css';
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    background: var(--brandColorsContrastDarkest);
    border-bottom: 1px solid var(--brandColorsContrastDark);

    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}
.tabNavigation__item {
    composes: reset from './../reset.css';
    float: left;
    border-right: 1px solid var(--brandColorsContrastDark);
    color: var(--brandColorsContrastBrightest);
}
.tabNavigation__item--isActive {
    background-color: var(--brandColorsContrastDarker);
    cursor: default;
    border-bottom: 1px solid var(--brandColorsPrimaryBlue);
    margin-bottom: -1px;

    > .tabNavigation__itemBtn {
        color: var(--brandColorsPrimaryBlue);
    }
}
.tabNavigation__itemBtn {
    composes: reset from './../reset.css';
    display: inline-block;
    height: var(--goldenUnit);
    padding: 0 var(--spacing);
    line-height: var(--goldenUnit);
    cursor: pointer;
    border: 0;
    background: 0;

    &:focus {
        outline: 0;
    }
}
.tabNavigation__itemBtnIcon {
    color: currentColor;
}
.tabNavigation__itemBtnIcon--hasLabel {
    margin-right: var(--halfSpacing);
}

.panel {
    composes: reset from './../reset.css';
    padding: 11px 0;
    overflow-y: auto;
}
