.tabs {
    height: 100%;
}

.tabs__content {
    height: calc(100% - 41px);
    overflow-y: auto;
}

.tabNavigation {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    background: $darkest;
    border-bottom: 1px solid $dark;

    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}
.tabNavigation__item {
    float: left;
    border-right: 1px solid $dark;
}
.tabNavigation__item--isActive {
    color: $brand;
    background-color: $darker;
    cursor: default;
}
.tabNavigation__itemBtn {
    display: inline-block;
    height: $unit;
    padding: 0 $spacing;
    line-height: $unit;
    cursor: pointer;
    color: white;
    border: 0;
    background: 0;

    &:focus {
        outline: 0;
    }
}

.panel {
    padding: 11px 0;
    overflow-y: auto;
}
