.icon {
    composes: reset from './../reset.css';
    display: inline-block;
    font: normal normal normal FontAwesome;
    font-size: 14px/1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon--paddedLeft {
    margin-left: .75em;
}
.icon--paddedRight {
    margin-right: .75em;
}

.icon--color-warn {
    color: var(--colors-Warn);
}

.icon--color-error {
    color: var(--colors-Error);
}

.icon--color-primaryBlue {
    color: var(--colors-PrimaryBlue);
}
