.icon {
    composes: reset from './../reset.css';
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon--big {
    font-size: 1.5em;
}
.icon--medium {
    font-size: 1.25em;
}
.icon--small {
    font-size: .75em;
}
.icon--tiny {
    font-size: .5em;
}
.icon--paddedLeft {
    padding-left: .75em;
}
.icon--paddedRight {
    padding-right: .75em;
}

@keyframes fa-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.icon--spin {
    animation: fa-spin 2s infinite linear;
}
