.secondaryToolbar {
    position: absolute;
    top: 41px;
    left: 0;
    padding: 0 320px;
    width: 100%;
    height: 41px;
    background: $neutral;
    transition: .2s ease padding;
    will-change: padding;

    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}
.secondaryToolbar--isFringeLeft {
    padding-left: 0;
}
.secondaryToolbar--isFringeRight {
    padding-right: 40px;
}
.secondaryToolbar--isHidden {
    display: none;
}
.secondaryToolbar__rightHandedActions {
    float: right;
}

.dimensionCategory__icon {
    margin-right: .5em;
}

.secondaryToolbar__buttonLink {
    position: relative;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    min-width: 40px;
    padding: 0;
    border: 0;
    -webkit-font-smoothing: antialiased;
    vertical-align: top;
    width: 40px;
    color: $brightest;
    text-align: center;

    &:focus {
        outline: 1px dotted $brightest;
    }
}

a.secondaryToolbar__buttonLink:hover {
    background: $brand;
}

.secondaryToolbar__buttonLink--isDisabled {
    opacity: .5;
}
