.dialog {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background: rgba(#000, .35);
}
.dialog__contentsPosition {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: $darker;
}
.dialog__contents {
    position: relative;
    width: calc(100vw - $unit * 2);
    max-width: calc($unit * 16);
    max-height: calc(100vh - ($unit * 2));
    border: 1px solid $dark;
}
.dialog__title {
    font-size: 16px;
    line-height: 1.2;
    padding: $spacing;
}
.dialog__closeBtn {
    position: absolute;
    top: 0;
    right: 0;
}
.dialog__actions {
    text-align: right;
    border-top: 1px solid $dark;
    padding: $spacing;
}

.dialog--wide {
    composes: dialog;
}
.dialog--wide .dialog__contents {
    max-width: calc($unit * 24);
}
