.dropDown {
    max-width: 296px;
    border-right: 1px solid var(--colors-ContrastDark);
    border-left: 1px solid var(--colors-ContrastDark);
}
.dropDown__header {
    background-color: transparent;
}
.dropDown__btnIcon {
    margin-right: .5em;
}

.cancelButton {
    margin-right: var(--spacing-Quarter) !important;
}

.dimensionLabel {
    margin-top: var(--spacing-Half);
    margin-bottom: var(--spacing-Quarter);
}

.buttonGroup {
    text-align: right;
    margin-top: var(--spacing-Half);
}

.selectPreset {
    margin-right: var(--spacing-Full);
}
