.secondaryInspector {
    position: absolute;
    top: 82px;
    right: var(--sidebarWidth);
    left: var(--sidebarWidth);
    background: var(--brandColorsContrastDarker);
    height: calc(100% - 82px);
    border: 1px solid var(--brandColorsContrastDark);
    border-bottom-width: 0;
    transition: .2s ease left, .2s ease right;
    will-change: left, right;
}
.secondaryInspector--isFringeLeft {
    left: 0;
}
.secondaryInspector--isFringeRight {
    right: 0;
}
.secondaryInspector--isElevated {
    z-index: var(--zIndexSecondaryInspectorElevatedContext);
}
.secondaryInspector .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: 18px;
    border-right-width: 0;
    border-top-width: 0;
    z-index: var(--zIndexSecondaryInspectorClose);
}
