.secondaryInspector {
    position: absolute;
    top: 82px;
    right: var(--neos-size-SidebarWidth);
    left: var(--neos-size-SidebarWidth);
    background: var(--neos-colors-ContrastDarker);
    height: calc(100% - 82px);
    border: 1px solid var(--neos-colors-ContrastDark);
    border-bottom-width: 0;
    transition: var(--neos-transition-Default)  ease left, var(--neos-transition-Default)  ease right;
    will-change: left, right;
}
.secondaryInspector--isFringeLeft {
    left: 0;
}
.secondaryInspector--isFringeRight {
    right: 0;
}
.secondaryInspector--isElevated {
    z-index: var(--neos-zIndex-SecondaryInspectorElevated-Context);
}
.secondaryInspector .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: 18px;
    border-right-width: 0;
    border-top-width: 0;
    z-index: var(--neos-zIndex-SecondaryInspector-Close);
}
