
.container {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 75px 1fr;
    background-color: #141414;
    padding: 0 16px 0 0;
}

.image {
    display: block;
    grid-column: 1 / span 1;
    width: 100%;
    height: 56px;
    object-fit: contain;
    background-color: #fff;
    background-size: 10px 10px;
    background-position: 0 0, 25px 25px;
    background-image: linear-gradient(45deg, #cccccc 25%, transparent 25%, transparent 75%, #cccccc 75%, #cccccc), linear-gradient(45deg, #cccccc 25%, transparent 25%, transparent 75%, #cccccc 75%, #cccccc);
}
