# Behat distribution configuration
#
# Override with behat.yml for local configuration.
#

default:
  autoload:
    '': "%paths.base%/Features/Bootstrap"
  suites:
    content:
        paths:
          - "%paths.base%/Features"
        contexts:
            - FeatureContext
