$lineHeight: 3px;

.menuBtn {
    display: inline-block;
    width: 54px;
    height: 40px;
    float: left;
    border: 0;
    border-right: 1px solid $dark;
    text-align: center;
    background-color: $darker;

    &:before,
    &:after {
        position: absolute;
        left: 16px;
        display: block;
        width: 22px;
        height: $lineHeight;
        border-color: currentColor;
    }

    &:before {
        top: 12px;
        border-top: $lineHeight solid;
        border-bottom: $lineHeight solid;
        content: "";
    }

    &:after {
        top: 24px;
        background-color: currentColor;
        content: "";
    }

    &:hover {
        text-decoration: none;
        color: $brand;
    }
}
