.panel {
    position: relative;
}
.panel--isOpen {}
.panel__headline {
    height: 40px;
    margin: 0 !important;
    padding: 0 16px;
    line-height: 40px;
}
.panel__toggleBtn {
    position: absolute;
    top: 0;
    right: 0;
}
.panel__contents {
    padding: 0 16px;
    transition: .5s ease padding;

    .panel--isOpen & {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
.panel__contents__target {
    overflow: hidden;
}
