.icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon--big {
  font-size: 1.5em;
}
.icon--small {
  font-size: .75em;
}
.icon--tiny {
  font-size: .5em;
}
