.label {
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: 0 var(--spacing-GoldenUnit) 0 var(--spacing-Full);
    height: var(--spacing-GoldenUnit);
    margin: 0;
    line-height: var(--spacing-GoldenUnit);
    font-weight: bold;
    font-size: 14px;

    span {
        display: inline-block;
        margin-left: .1em;
    }
}

.content {
    padding: 0 var(--spacing-Full) var(--spacing-Full);
}

.iconWrapper {
    width: 2em;
    display: inline-block;
    text-align: center;
    margin-left: -5px;
}
