.nodeType {
    width: 100%;
    text-align: left;
}
.nodeType__icon {
    color: $brand;

    .nodeType:hover & {
        color: $brightest;
    }
}

/* TODO: refactor such typography things to Headline component */
.groupHeader {
    border-bottom: 1px solid $dark;
}
.groupTitle {
    color: $brighter;
    line-height: 1.2;
    font-weight: normal;
}
.groupContents {
    padding: 0 !important;
}
.grid {
    margin: 0;
}
.gridItem {
    padding: 0;
}
