<style><![CDATA[
    @keyframes color_change {
        0% {
            filter: drop-shadow(0 0 0 #00ADEE) opacity(25%);
        }
        100% {
            filter: drop-shadow(0 0 5px #00ADEE) opacity(100%);
        }
    }

    .loadingIcon {
        color: #00ADEE;
        animation-name: color_change;
        animation-duration: 1.2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }
    .splash {
        width: 100vw;
        height: 100vh;
        background-color: #222222;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
    }
]]></style>
<div class="splash">
    <svg aria-hidden="true" data-prefix="fab" data-icon="neos" class="neos-svg-inline--fa neos-fa-neos fa-w-15 fa-3x loadingIcon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 456 512" aria-label="Loading...">
        <path fill="currentColor" d="M387.44 512h-95.11L184.12 357.46v91.1L97.69 512H0V29.82L40.47 0h108.05l123.74 176.13V63.45L358.69 0h97.69v461.5L387.44 512zM10.77 35.27v460.72l72.01-52.88V193.95l215.49 307.69h84.79l52.35-38.17h-78.27L40.96 12.98 10.77 35.27zm82.54 466.61l80.04-58.78V342.06L93.55 227.7v220.94l-72.58 53.25h72.34zM52.63 10.77l310.6 442.57h82.37V10.77h-79.75v317.56L142.91 10.77H52.63zm230.4 180.88l72.01 102.81V15.93l-72.01 52.96v122.76z"/>
    </svg>
</div>
