.btn {
    position: relative;
    display: inline-block;
    height: 40px;
    padding: 0 16px;
    border: 0;
    border-right: 1px solid $dark;
    background-color: $darker;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    vertical-align: middle;
    width: auto;
}
.userIcon {
    padding-right: .5em;
}
.arrowIcon {
    padding-left: .5em;
}
.dropDown {
    position: absolute;
    top: 100%;
    left: 0;
		transform: translateY(1px);
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 0;
    margin: 0;
    list-style: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  	a,
  	button {
      display: block;
      width: 100%;
      border: 0;
      padding: 0 16px;
      background: 0;
      color: #FFF;
      text-decoration: none;
      line-height: 40px !important;
      text-align: left;
    }
}
.dopDownVisible {
    display: block;
}
.dropDownItem {
    height: 40px;
    background: $neutral;
    border-top: 1px solid $darker;
}
.dropDownItem:hover {
    background: $brand;
}
.logoutItem {
    border-color: $dark;
}
.userSettingsItem {}
.dropDownItemIcon {
    padding-right: .5em;
}
