.wrapper {}

.item {
    width: 12%;
    height: 41px;
    line-height: 41px;
    float: left;
    text-align: center;
    border-right: 1px solid white;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 0.4em;
}

.activeItem {
    background-color: white;
    color: #222;
    cursor: auto;
}
