.fullscreenContentOverlay {
    background: $darker;
    width: 100%;
    height: 100%;
}

.fullscreenContentOverlay__closeButton {
    position: absolute;
    top: 0;
    right: 0;
    width: calc($unit + 1px);
    height: calc($unit + 1px);
    font-size: 18px;
    z-index: 1;
}