.buttonEditor {
    margin-inline: calc(var(--spacing-Quarter) / -2);
}

.buttonEditor .button {
    margin: calc(var(--spacing-Quarter) / 2);
}

.buttonEditor.buttonEditorHighlight {
    box-shadow: 0 0 0 2px var(--colors-Warn);
    border-radius: 2px;
}
