.toolBar__btnGroup {
    border-bottom: 1px solid var(--brandColorsContrastDark);

    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}
.toolBar__btnGroup__btn {
    float: left;
}