<!doctype html>
{namespace neos=Neos\Neos\ViewHelpers}
<html>
    <head>
        <title>Neos CMS</title>
        {headScripts -> f:format.raw()}
        {headStylesheets -> f:format.raw()}
    </head>
    <body>
        <div id="appContainer" data-csrf-token="{f:security.csrfToken()}" data-first-tab="{documentNodeUri}" data-env="{env}">
            <div data-json="configuration">{configuration}</div>
            <div data-json="menu">{menu}</div>
            <div data-json="initialState">{initialState}</div>
            <div data-json="nodeTypes">{nodeTypes}</div>
            <div data-json="frontendConfiguration">{frontendConfiguration}</div>
            <div data-json="routes">{routes}</div>
        </div>
    </body>
</html>
