<!doctype html>
{namespace neos=Neos\Neos\ViewHelpers}
<html>
    <head>
        <meta charset="utf-8" />
        <title>Neos CMS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
        <script>_NEOS_UI_configuration = {configuration -> f:format.raw()};</script>
        <script>_NEOS_UI_nodeTypes = {nodeTypes -> f:format.raw()};</script>
        <script>_NEOS_UI_frontendConfiguration = {frontendConfiguration -> f:format.raw()};</script>
        <script>_NEOS_UI_menu = {menu -> f:format.raw()};</script>
        <script>_NEOS_UI_initialState = {initialState -> f:format.raw()};</script>
        <script>_NEOS_UI_routes = {routes -> f:format.raw()};</script>

        {headStylesheets -> f:format.raw()}
        {headScripts -> f:format.raw()}
        {headIcons -> f:format.raw()}
    </head>
    <body>
        <div id="appContainer" data-csrf-token="{f:security.csrfToken()}" data-first-tab="{documentNodeUri}" data-env="{env}">
            <f:render partial="{splashScreenPartial}" />
        </div>
    </body>
</html>
