.calendarInputWrapper {
    display: table;
    width: 100%;
}
.calendarInputWrapper--highlight {
    outline: 2px solid var(--colors-Success);
}
.calendarInputWrapper--invalid {
    outline: 2px solid var(--colors-Error) !important;
    color: var(--colors-Error) !important;
}
.closeCalendarIconBtn,
.calendarIconBtn {
    composes: reset from "../reset.module.css";
    position: relative;
    display: table-cell;
    vertical-align: top;
    padding: 10px;
    height: 40px;
    min-width: 41px;
    border: none;
    background: var(--colors-ContrastNeutral);
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
.calendarIconBtn {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.closeCalendarIconBtn {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.closeCalendarIconBtn:hover,
.calendarIconBtn:hover {
    background: var(--colors-PrimaryBlue);
}
.closeCalendarIconBtn {
    border-left: 1px solid var(--colors-ContrastDarker);
}
.calendarIconBtn {
    border-right: 1px solid var(--colors-ContrastDarker);
}

.calendarFakeInputWrapper {
    composes: reset from "../reset.module.css";
    display: table-cell;
    position: relative;
    width: 100%;
}
.calendarFakeInputMirror {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--zIndex-CalendarFakeInputMirror-Context);
    cursor: pointer;
}
.calendarFakeInput {
    composes: reset from "../reset.module.css";
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 40px;
    border: 2px solid var(--colors-ContrastNeutral);
    background: var(--colors-ContrastNeutral);
    font-size: 14px;
    padding: 0 14px;
    margin: 0;
    box-shadow: none;
    transition: none;

    &:focus {
        outline: 0;
    }
}
.selectTodayBtn {
    width: calc(100% - 2px);
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid var(--colors-ContrastNeutral);
    border-top: 0;
    font-size: var(--fontSize-Base);
    cursor: pointer;
    background: var(--colors-ContrastDarkest);
    color: var(--colors-ContrastBrightest);

    &:hover {
        background: var(--colors-PrimaryBlue) !important;
    }
}
.applyBtn {
    width: calc(100% - 2px);
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid var(--colors-ContrastNeutral);
    border-top: 0;
    font-size: var(--fontSize-Base);
}
.wrapper {
    composes: reset from "../reset.module.css";

    & input[type='text'] {
        display: none;
    }

    /**
     * Styles from the react-datetime package.
     * Since we cannot import other packages css in css modules and
     * putting them in a "global" scope at the same time, we had to
     * copy the css directly.
     *
     * @todo: revisit if we can solve this in a better way.
     */
    /*!
    * https://github.com/arqex/react-datetime
    */

    :global(.rdt) {
        position: relative;
    }
    :global(.rdtPicker) {
        display: none;
        /*position: absolute;*/
        width: 250px;
        padding: 4px;
        margin-top: 1px;
        z-index: var(--zIndex-RdtPicker-Context);
        background: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
        border: 1px solid var(--colors-ContrastNeutral);
    }
    :global(.rdtOpen .rdtPicker) {
        display: block;
    }
    :global(.rdtStatic .rdtPicker) {
        box-shadow: none;
        position: static;
    }

    :global(.rdtPicker .rdtTimeToggle) {
        text-align: center;
    }

    :global(.rdtPicker table) {
        width: 100%;
        margin: 0;
    }
    :global(.rdtPicker td),
    :global(.rdtPicker th) {
        text-align: center;
        height: 28px;
    }
    :global(.rdtPicker td) {
        cursor: pointer;
    }
    :global(.rdtPicker td.rdtToday:hover),
    :global(.rdtPicker td.rdtHour:hover),
    :global(.rdtPicker td.rdtMinute:hover),
    :global(.rdtPicker td.rdtSecond:hover),
    :global(.rdtPicker .rdtTimeToggle:hover) {
        background: #eeeeee;
        cursor: pointer;
    }
    :global(.rdtPicker td.rdtOld),
    :global(.rdtPicker td.rdtNew) {
        color: #999999;
    }
    :global(.rdtPicker td.rdtToday) {
        position: relative;
    }
    :global(.rdtPicker td.rdtToday:before) {
        content: '';
        display: inline-block;
        border-left: 7px solid transparent;
        border-bottom: 7px solid #428bca;
        border-top-color: rgba(0, 0, 0, .2);
        position: absolute;
        bottom: 4px;
        right: 4px;
    }
    :global(.rdtPicker td.rdtActive),
    :global(.rdtPicker td.rdtActive:hover) {
        background-color: #428bca;
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    }
    :global(.rdtPicker td.rdtActive.rdtToday:before) {
        border-bottom-color: #fff;
    }
    :global(.rdtPicker td.rdtDisabled),
    :global(.rdtPicker td.rdtDisabled:hover) {
        background: none;
        color: #999999;
        cursor: not-allowed;
    }

    :global(.rdtPicker td span.rdtOld) {
        color: #999999;
    }
    :global(.rdtPicker td span.rdtDisabled),
    :global(.rdtPicker td span.rdtDisabled:hover) {
        background: none;
        color: #999999;
        cursor: not-allowed;
    }
    :global(.rdtPicker th) {
        border-bottom: 1px solid var(--colors-ContrastNeutral);
    }
    :global(.rdtPicker .dow) {
        width: 14.2857%;
        border-bottom: none;
    }
    :global(.rdtPicker th.rdtSwitch) {
        width: 100px;
    }
    :global(.rdtPicker th.rdtNext),
    :global(.rdtPicker th.rdtPrev) {
        font-size: 21px;
        vertical-align: top;
    }

    :global(.rdtPrev span),
    :global(.rdtNext span) {
        display: block;
        -webkit-touch-callout: none;
        user-select: none;
    }

    :global(.rdtPicker th.rdtDisabled),
    :global(.rdtPicker th.rdtDisabled:hover) {
        background: none;
        color: #999999;
        cursor: not-allowed;
    }
    :global(.rdtPicker thead tr:first-child th) {
        cursor: pointer;
    }
    :global(.rdtPicker thead tr:first-child th:hover) {
        background: #eeeeee;
    }

    :global(.rdtPicker tfoot) {
        border-top: 1px solid var(--colors-ContrastNeutral);
    }

    :global(.rdtPicker button) {
        border: none;
        background: none;
        cursor: pointer;
    }
    :global(.rdtPicker button:hover) {
        background-color: #eee;
    }

    :global(.rdtPicker thead button) {
        width: 100%;
        height: 100%;
    }

    :global(td.rdtMonth),
    :global(td.rdtYear) {
        height: 50px;
        width: 25%;
        cursor: pointer;
    }
    :global(td.rdtMonth:hover),
    :global(td.rdtYear:hover) {
        background: #eee;
    }

    :global(.rdtCounters) {
        display: inline-block;
    }

    :global(.rdtCounters > div) {
        float: left;
    }

    :global(.rdtCounter) {
        height: 100px;
    }

    :global(.rdtCounter) {
        width: 40px;
    }

    :global(.rdtCounterSeparator) {
        line-height: 100px;
    }

    :global(.rdtCounter .rdtBtn) {
        height: 40%;
        line-height: 40px;
        cursor: pointer;
        display: block;

        -webkit-touch-callout: none;
        user-select: none;
    }
    :global(.rdtCounter .rdtBtn:hover) {
        color: var(--colors-PrimaryBlue);
    }
    :global(.rdtCounter .rdtCount) {
        height: 20%;
        font-size: 1.2em;
    }

    :global(.rdtMilli) {
        vertical-align: middle;
        padding-left: 8px;
        width: 48px;
    }

    :global(.rdtMilli input) {
        width: 100%;
        font-size: 1.2em;
        margin-top: 37px;
    }

    :global(.rdtDayPart) {
        margin-top: 43px;
    }

    /**
     * Overwrites for the calendar
     */
    :global(.rdtPicker) {
        position: relative;
        width: calc(100% - 4px);
        background: var(--colors-ContrastDarkest);
        padding: 0;
        border: 1px solid var(--colors-ContrastNeutral);
        border-top: 0;
        margin: 0;
        box-shadow: none;

        & table {
            border-collapse: collapse;
        }

        & th {
            width: 37px;
            height: 40px;
            line-height: 40px;
            font-weight: normal;
            font-size: var(--fontSize-Base);
            border: 0;
            border-left: 1px solid var(--colors-ContrastNeutral);
            border-right: 1px solid var(--colors-ContrastNeutral);
            border-bottom: 1px solid var(--colors-ContrastNeutral);

            :global(.rdtPrev:hover),
            :global(.rdtNext:hover),
            :global(.rdtSwitch:hover) {
                background: var(--colors-PrimaryBlue) !important;
            }

            :global(.dow) {
                width: 40px;
                background: var(--colors-ContrastNeutral);
                text-align: center;
            }
        }
    }

    :global(td.rdtDay),
    :global(td.rdtMonth),
    :global(td.rdtTimeToggle) {
        width: 40px;
        height: 40px;
        line-height: 40px;
        border: 1px solid var(--colors-ContrastNeutral);
    }
    :global(td.rdtDay:hover),
    :global(td.rdtMonth:hover),
    :global(td.rdtTimeToggle:hover) {
        background: var(--colors-PrimaryBlue) !important;
    }

    :global(td.rdtDay.rdtOld),
    :global(td.rdtDay.rdtNew) {
        color: #5b5b5b;
    }

    :global(td.rdtToday:before) {
        border-bottom-color: var(--colors-PrimaryBlue) !important;
    }
    :global(td.rdtActive) {
        background: var(--colors-PrimaryBlue) !important;
        color: var(--colors-ContrastBrightest);

        &:before {
            display: none !important;
        }
    }
}
.disabled {
    opacity: .5;
}
.disabled-cursor {
    cursor: not-allowed;
}
