.toolBar {
    position: absolute;
    border-bottom: 1px solid var(--brandColorsContrastDark);
    background: #222;
    z-index: 2147483647;
}
.toolBar__btnGroup {
    border-bottom: 1px solid var(--brandColorsContrastDark);

    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}
.toolBar__btnGroup__btn {
    float: left;
}

.toolBar--isHidden {
    display: none;
}

.toolBar--isSticky {
    position: fixed;
    top: 0!important;
}

.toolBar--isBlurred {
    display: none;
}
