.toolBar {
    position: absolute;
    background: var(--colors-ContrastDarker);
    z-index: var(--zIndex-NodeToolBar);
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    margin: 0 5px;
}
.toolBar__btnGroup {
    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}
.toolBar__btnGroup__btn {
    float: left;

    &:hover {
        background-color: var(--colors-PrimaryBlue);
    }

    svg {
        width: 1em;
    }

    &:first-child {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }
    &:last-child {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}

.toolBar--isHidden {
    display: none;
}

.toolBar--isSticky {
    position: fixed;
    top: 0!important;
}

.toolBar--isBlurred {
    display: none;
}
