.toolBar {
    position: absolute;
    background: var(--colors-ContrastDarker);
    z-index: var(--zIndex-NodeToolBar);
    margin: -2px 5px 0 5px;
    border: 2px solid var(--colors-PrimaryBlue);
    border-bottom: 0;
    transition: var(--transition-Fast) margin;
}
.toolBar__btnGroup {
    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}
.toolBar__btnGroup__btn {
    float: left;

    &:hover {
        background-color: var(--colors-PrimaryBlue);
    }

    svg {
        width: 1em;
    }
}

.toolBar--isHidden {
    display: none;
}

.toolBar--isSticky {
    position: fixed;
    top: 0!important;
    margin-top: 5px;
    border-bottom: 2px solid var(--colors-PrimaryBlue);
}

.toolBar--isBlurred {
    display: none;
}
