.toolBar__btnGroup {
    display: flex;

    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}
.toolBar__btnGroup__btn {
    float: left;
}


.linkIconButton__flyout {
    position: fixed;
    z-index: 1000;
}
