
Neos:
  Neos:
    userInterface:
      translation:
        autoInclude:
          'Neos.Neos.Ui':
            - Main
    typoScript:
      autoInclude:
        Neos.Neos.Ui: true
    Ui:
      frontendDevelopmentMode: false
      nodeTypeRoles:
        document: 'Neos.Neos:Document'
        content: 'Neos.Neos:Content'
        contentCollection: 'Neos.Neos:ContentCollection'
      asyncModuleMapping:
        'resource://Neos.Neos.Ui/Public/JavaScript/InspectorEditors.js':
          'Neos.UI:Inspector.TextField': true
          'Neos.UI:Inspector.Boolean': true
          'Neos.UI:Inspector.DateTime': true
          'Neos.UI:Inspector.Image': true
          'Neos.UI:Inspector.TextArea': true
          'Neos.UI:Inspector.SelectBox': true
          'Neos.UI:Inspector.NodeType': true
      legacyModuleMapping:
        'resource://Neos.Neos.Ui/Public/JavaScript/InspectorEditors.js':
          Neos.Neos/Inspector/Editors/TextFieldEditor: 'Neos.UI:Inspector.TextField'
          Neos.Neos/Inspector/Editors/BooleanEditor: 'Neos.UI:Inspector.Boolean'
          Neos.Neos/Inspector/Editors/DateTimeEditor: 'Neos.UI:Inspector.DateTime'
          Neos.Neos/Inspector/Editors/ImageEditor: 'Neos.UI:Inspector.Image'
          Neos.Neos/Inspector/Editors/TextAreaEditor: 'Neos.UI:Inspector.TextArea'
          Neos.Neos/Inspector/Editors/SelectBoxEditor: 'Neos.UI:Inspector.SelectBox'
          Neos.Neos/Inspector/Editors/NodeTypeEditor: 'Neos.UI:Inspector.NodeType'
          Content/Inspector/Editors/NodeTypeEditor: 'Neos.UI:Inspector.NodeType'
      state:
        defaultEelContext:
          String: Neos\Eel\Helper\StringHelper
          Array: Neos\Eel\Helper\ArrayHelper
          Date: Neos\Eel\Helper\DateHelper
          Configuration: Neos\Eel\Helper\ConfigurationHelper
          Math: Neos\Eel\Helper\MathHelper
          Json: Neos\Eel\Helper\JsonHelper
          I18n: Neos\Flow\I18n\EelHelper\TranslationHelper
          Neos.Ui.Workspace: Neos\Neos\Ui\Fusion\Helper\WorkspaceHelper
          Neos.Ui.NodeInfo: Neos\Neos\Ui\Fusion\Helper\NodeInfoHelper
          Neos.Ui.NodeTypes: Neos\Neos\Ui\Fusion\Helper\NodeTypesHelper
          Neos.Ui.ContentDimensions: Neos\Neos\Ui\Fusion\Helper\ContentDimensionsHelper
        frontendConfiguration:
          editPreviewModes: '${Configuration.setting(''Neos.Neos.userInterface.editPreviewModes'')}'
        documentNode:
          nodes: '${Neos.Ui.NodeInfo.renderDocumentNodeAndChildContent(documentNode, controllerContext)}'
          metaData:
            contextPath: '${q(documentNode).property("_contextPath")}'
            previewUrl: '${Neos.Ui.NodeInfo.uri(q(documentNode).context({workspaceName: "live"}).get(0), controllerContext)}'
            contentDimensions:
              active: '${documentNode.context.dimensions}'
              allowedPresets: '${Neos.Ui.ContentDimensions.allowedPresetsByName(documentNode.context.dimensions)}'
        backend:
          changes:
            pending: {  }
            processing: {  }
            failed: {  }
          cr:
            nodes:
              byContextPath: '${Neos.Ui.NodeInfo.defaultNodesForBackend(site, documentNode, controllerContext)}'
              siteNode: '${q(site).property(''_contextPath'')}'
            workspaces:
              byName: '${Neos.Ui.Workspace.initializeWorkspacesByName()}'
              active: '${Neos.Ui.Workspace.getPersonalWorkspaceName()}'
            contentDimensions:
              byName: '${Neos.Ui.ContentDimensions.contentDimensionsByName()}'
              active: '${documentNode.context.dimensions}'
              allowedPresets: '${Neos.Ui.ContentDimensions.allowedPresetsByName(documentNode.context.dimensions)}'
          ui:
            contentCanvas:
              src: '${Neos.Ui.NodeInfo.uri(documentNode, controllerContext)}'
              contextPath: '${q(documentNode).property(''_contextPath'')}'
            debugMode: false
            editPreviewMode: '${Configuration.setting(''Neos.Neos.userInterface.defaultEditPreviewMode'')}'
            fullScreen:
              isFullScreen: false
            editModePanel:
              isHidden: true
            leftSideBar:
              isHidden: false
            rightSideBar:
              isHidden: false
            addNodeModal:
              referenceNode: ''
              mode: insert
            drawer:
              isHidden: true
            pageTree:
              isLoading: false
              hasError: false
              focused: '${q(documentNode).property(''_contextPath'')}'
              active: '${q(documentNode).property(''_contextPath'')}'
            remote:
              isSaving: false
              isPublishing: false
              isDiscarding: false
          user:
            name:
              title: '${q(user).property(''name.title'')}'
              firstName: '${q(user).property(''name.firstName'')}'
              middleName: '${q(user).property(''name.middleName'')}'
              lastName: '${q(user).property(''name.lastName'')}'
              otherName: '${q(user).property(''name.otherName'')}'
              fullName: '${q(user).property(''name.fullName'')}'
            settings:
              isAutoPublishingEnabled: false
      changes:
        types:
          'Neos.Neos.Ui:Property': Neos\Neos\Ui\Domain\Model\Changes\Property
          'Neos.Neos.Ui:Create': Neos\Neos\Ui\Domain\Model\Changes\Create
          'Neos.Neos.Ui:CreateBefore': Neos\Neos\Ui\Domain\Model\Changes\CreateBefore
          'Neos.Neos.Ui:CreateAfter': Neos\Neos\Ui\Domain\Model\Changes\CreateAfter
          'Neos.Neos.Ui:RemoveNode': Neos\Neos\Ui\Domain\Model\Changes\Remove
          'Neos.Neos.Ui:CopyBefore': Neos\Neos\Ui\Domain\Model\Changes\CopyBefore
          'Neos.Neos.Ui:CopyAfter': Neos\Neos\Ui\Domain\Model\Changes\CopyAfter
          'Neos.Neos.Ui:CopyInto': Neos\Neos\Ui\Domain\Model\Changes\CopyInto
          'Neos.Neos.Ui:MoveBefore': Neos\Neos\Ui\Domain\Model\Changes\MoveBefore
          'Neos.Neos.Ui:MoveAfter': Neos\Neos\Ui\Domain\Model\Changes\MoveAfter
          'Neos.Neos.Ui:MoveInto': Neos\Neos\Ui\Domain\Model\Changes\MoveInto
  Flow:
    security:
      authentication:
        providers:
          Typo3BackendProvider:
            requestPatterns:
              'Neos.Neos.Ui:controllerObjectName':
                pattern: ControllerObjectName
                patternOptions:
                  controllerObjectNamePattern: 'Neos\Neos\Ui\Controller\.*|Neos\Neos\Controller\.*|Neos\Neos\Service\.*|Neos\Media\Controller\.*'
    mvc:
      routes:
        'Neos.Neos.Ui': true
  Fusion:
    defaultContext:
      Neos.Ui.Activation: Neos\Neos\Ui\Fusion\Helper\ActivationHelper
      Neos.Ui.StaticResources: Neos\Neos\Ui\Fusion\Helper\StaticResourcesHelper
      Neos.Ui.Sites: Neos\Neos\Ui\Fusion\Helper\SitesHelper
      Neos.Ui.Modules: Neos\Neos\Ui\Fusion\Helper\ModulesHelper
      Neos.Ui.NodeTypes: Neos\Neos\Ui\Fusion\Helper\NodeTypesHelper
