.textInput {
    width: 100%;
    height: 40px;
    padding: 0 14px;
    margin-bottom: $spacing;
    border: 0;
    background: $neutral;

    &:focus {
        outline: 0;
        background: $brightest;
        color: $darkest;
    }
}
.textInput::-webkit-input-placeholder {
    font-family: 'Noto Sans', sans-serif;
    color: $bright;
}
.textInput--invalid {
    outline: 2px solid $error;
}
