:root {
    --neos-spacing-GoldenUnit: 40px;
    --neos-spacing-Full: 16px;
    --neos-spacing-Half: 8px;
    --neos-spacing-Quarter: 4px;
    --neos-size-SidebarWidth: 320px;
    --neos-transition-Fast: .1s;
    --neos-transition-Default: .25s;
    --neos-transition-Slow: .5s;
    --neos-zIndex-SecondaryToolbar-LinkIconButtonFlyout: 1;
    --neos-zIndex-FlashMessageContainer: 6;
    --neos-zIndex-LoadingIndicatorContainer: 5;
    --neos-zIndex-SecondaryInspector-Context: 1;
    --neos-zIndex-SecondaryInspector-Iframe: 2;
    --neos-zIndex-SecondaryInspector-Close: 3;
    --neos-zIndex-SecondaryInspectorElevated-Context: 1;
    --neos-zIndex-SecondaryInspectorElevated-DropdownContents: 2;
    --neos-zIndex-Dialog-Context: 1;
    --neos-zIndex-FullScreenClose-Context: 1;
    --neos-zIndex-Drawer-Context: 1;
    --neos-zIndex-Bar-Context: 1;
    --neos-zIndex-PrimaryToolbar: 4;
    --neos-zIndex-CheckboxInput-Context: 1;
    --neos-zIndex-DropdownContents-Context: 1;
    --neos-zIndex-SelectBoxContents: 4;
    --neos-zIndex-NotInlineEditableOverlay-Context: 1;
    --neos-zIndex-CalendarFakeInputMirror-Context: 1;
    --neos-zIndex-RdtPicker-Context: 1;
    --neos-zIndex-SideBar-DropTargetBefore: 1;
    --neos-zIndex-SideBar-DropTargetAfter: 2;
    --neos-zIndex-WrapperDropdown-Context: 1;
    --neos-zIndex-UnappliedChangesOverlay-Context: 1;
    --neos-zIndex-NodeToolBar: 2147483646;
    --neos-fontSize-Base: 14px;
    --neos-fontSize-Small: 12px;
    --neos-fontsHeadings-Family: "Noto Sans";
    --neos-fontsHeadings-Style: Regular;
    --neos-fontsHeadings-CssWeight: 400;
    --neos-fontsCopy-Family: "Noto Sans";
    --neos-fontsCopy-Style: Regular;
    --neos-fontsCopy-CssWeight: 400;
    --neos-colors-PrimaryViolet: #26224C;
    --neos-colors-PrimaryVioletHover: #342f5f;
    --neos-colors-PrimaryBlue: #00ADEE;
    --neos-colors-PrimaryBlueHover: #35c3f8;
    --neos-colors-ContrastDarkest: #141414;
    --neos-colors-ContrastDarker: #222;
    --neos-colors-ContrastDark: #3f3f3f;
    --neos-colors-ContrastNeutral: #323232;
    --neos-colors-ContrastBright: #999;
    --neos-colors-ContrastBrighter: #adadad;
    --neos-colors-ContrastBrightest: #FFF;
    --neos-colors-Success: #00a338;
    --neos-colors-SuccessHover: #0bb344;
    --neos-colors-Warn: #ff8700;
    --neos-colors-WarnHover: #fda23d;
    --neos-colors-Error: #ff460d;
    --neos-colors-ErrorHover: #ff6a3c;
    --neos-colors-UncheckedCheckboxTick: #5B5B5B;
}
