
.searchIcon {
    position: absolute;
    top: 50%;
    left: 21px;
    transform: translate(-50%, -50%);
}

.clearIcon {
    position: absolute;
    top: 0;
    right: 0;
    color: #000;
}

.textInput {
    padding-left: 42px;
    border-radius: 0;
    background: transparent;

    &:focus {
        background: var(--colors-ContrastDark);
        color: #fff;
    }
}

.searchInputContainer {
    position: relative;
}
