.searchBar {
    display: flex;
    width: calc(var(--spacing-GoldenUnit) * 4);
}

.searchBar__clearButton {
    background: var(--colors-ContrastNeutral);
}

.searchBar__clearButton--focused {
    background: white;
}

.searchBar__clearButton--focused > i {
    color: var(--colors-ContrastNeutral);
}
