.searchBar {
    display: flex;
    width: 160px;
}

.searchBar__clearButton {
    background: var(--colors-ContrastNeutral);
}

.searchBar__clearButton--focused {
    background: white;
}

.searchBar__clearButton--focused > i {
    color: var(--colors-ContrastNeutral);
}
