.wrapper {
    position: relative;
    display: inline-block;
}
.wrapper__btn {
    position: relative;
    width: 40px;
}
.wrapper__btnModeIcon {
    position: absolute;
    right: 4px;
    bottom: 4px;
    color: $brand;

    [disabled] > & {
        opacity: 0;
    }
}
.wrapper__dropDown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    background: $darker;
    border: 1px solid $dark;
    border-top: 0;
}
.wrapper__dropDown--isOpen {
    display: block;
}
