.primaryToolbar {
    display: flex;

    z-index: var(--zIndex-PrimaryToolbar);
}
.primaryToolbar--isHidden {
    display: none;
}
.primaryToolbar__rightSidedActions {
    position: absolute;
    right: 0;
    top: 0;
}
