.nodeType {
    width: calc(100% / 6);
    text-align: left;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 1px;

    &:hover {
        button {
            background-color: var(--colors-PrimaryBlue);
        }

        .nodeType__helpIcon {
            background-color: var(--colors-PrimaryBlue);
            border-left: 1px solid var(--colors-ContrastDark);
        }
    }
}

.nodeType__toolTip {
    top: 40px;
}

.nodeType__iconWrapper {
    display: block;
    text-align: center;
    margin: var(--spacing-Half);
}
.nodeType__icon {
    color: var(--colors-PrimaryBlue);

    .nodeType:hover & {
        color: var(--colors-ContrastBrightest);
    }
}
.nodeType__item {
    text-align: center;
    flex-grow: 1;
    height: auto;
    padding: var(--spacing-Half);
    background: var(--colors-ContrastNeutral);
    border-radius: 2px;
}
.nodeType__helpIcon {
    flex-grow: 0;
    &:focus {
        outline: none;
    }
}

.helpMessage__wrapper {
    position: relative;
    width: 100%;
    background-color: var(--colors-ContrastDark);
    clear: right;
}

.helpMessage {
    background-color: var(--colors-ContrastDark);
    border-top: 1px solid var(--colors-ContrastDark);
    padding: var(--spacing-Full);
}

.helpMessage__label {
    display: block;
    margin-bottom: var(--spacing-Half);
}
.helpMessage__closeButton {
    position: absolute;
    right: 1px;
    top: 1px;
    background-color: var(--colors-ContrastDark);
}

.helpThumbnail {
    float: right;
    max-width: 342px;
    margin-bottom: 16px;
    margin-left: 16px;
}
/* TODO: refactor such typography things to Headline component */
.groupHeader {
    border-top: 1px solid var(--colors-ContrastDark);
}
.groupTitle {
    color: var(--colors-ContrastBrightest);
    line-height: 1.2;
    font-weight: bold;
}
.groupContents {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: var(--spacing-Full) !important;
    padding-top: 0 !important;
}

.nodeTypeDialogHeader {
    display: flex;
    justify-content: space-between;
    padding-left: var(--spacing-Full);
    padding-right: var(--spacing-Full);
    background: var(--colors-ContrastNeutral);
}

.nodeTypeDialogHeader__filter {
    display: flex;
    align-items: center;
}

.nodeTypeFilter__label {
    margin-right: var(--spacing-Half);
}
