.nodeType {
    width: calc(100% / 6);
    text-align: left;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 1px;

    &:hover {
        button {
            background-color: var(--colors-PrimaryBlue);
        }
    }
}

@media (max-width: 992px) {
    .nodeType {
        width: calc(100% / 4);
    }
}
@media (max-width: 768px) {
    .nodeType {
        width: calc(100% / 3);
    }
}
@media (max-width: 576px) {
    .nodeType {
        width: calc(100% / 2);
    }
}

.nodeType__toolTip {
    top: 40px;
}

.nodeType__iconWrapper {
    display: block;
    text-align: center;
    margin-top: var(--spacing-Quarter);
    margin-bottom: var(--spacing-Half);
}
.nodeType__icon {
    color: var(--colors-ContrastBrightest);
}
.nodeType__item {
    text-align: center;
    flex-grow: 1;
    height: auto;
    padding: var(--spacing-Full);
    background: var(--colors-ContrastNeutral);
    border-radius: 2px;
    position: relative;
}
.nodeType__helpIcon {
    display: block;
    position: absolute;
    top: 3px;
    right: 3px;
    min-width: 24px;
    width: 24px;
    height: 24px;
    opacity: .5;
    background: transparent;

    &:hover {
        opacity: 1;
    }

    &:focus {
        outline: none;
    }
}

.helpMessage__wrapper {
    position: relative;
    width: 100%;
    clear: right;
    margin-top: var(--spacing-Half);
}

.helpMessage {
    background-color: var(--colors-ContrastDarkest);
    padding: var(--spacing-Full);
    border-radius: 2px;
    margin: 1px;
    position: relative;
}

.helpMessage__label {
    display: block;
    margin-bottom: var(--spacing-Half);
}
.helpMessage__closeButton {
    position: absolute;
    right: 1px;
    top: 1px;
    background-color: transparent;
}

.helpThumbnail {
    float: right;
    max-width: 342px;
    margin-bottom: 16px;
    margin-left: 16px;
}
/* TODO: refactor such typography things to Headline component */
.groupHeader {
    border-top: 1px solid var(--colors-ContrastDark);
}
.groupTitle {
    color: var(--colors-ContrastBrightest);
    line-height: 1.2;
    font-weight: bold;
}
.groupContents {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: var(--spacing-Full) !important;
    padding-top: 0 !important;
}

.nodeTypeDialogHeader {
    display: flex;
    justify-content: space-between;
    padding-left: var(--spacing-Full);
    padding-right: var(--spacing-Full);
    padding-bottom: var(--spacing-Full);
}

.nodeTypeDialogHeader__filter {
    display: flex;
    align-items: center;
}

.nodeTypeFilter__label {
    margin-right: var(--spacing-Half);
}

.noMatchesFound {
    width: 100%;
    padding: var(--spacing-Full);
    background: var(--colors-ContrastDarkest);
    border-radius: 2px;
    color: var(--colors-ContrastBright);

    svg {
        color: var(--colors-ContrastBright);
    }
}
