.selectedOptions {
    composes: reset from './../reset.css';

    position: relative;
    width: 100%;
    list-style: none;
    padding-left: 0;

}

.selectedOptions--highlight {
    outline: 2px solid var(--brandColorsSuccess);
    margin-bottom: 2px;
}

.selectedOptions__item {
    width: 100%;
    position: relative;
    background: var(--brandColorsContrastNeutral);
    border-bottom: 1px solid var(--brandColorsContrastDarker);

    button {
        position: absolute;
        right: 0;
        top: 0;
        border-left: 1px solid var(--brandColorsContrastDarker);
    }

    span {
        height: 40px;
        box-sizing: border-box;
        padding-right: 50px;
        padding-left: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        width: 100%;
        line-height: 40px;
        vertical-align: middle;
    }

    &:hover {
      .selectedOptions__itemIcon {
        display: none;
      }

      .selectedOptions__itemIcon--onHover {
        display: inline;
      }
    }
}

.selectedOptions__itemIconWrapper {
    margin-right: .5em;
    display: inline-block;
    width: 14px;
    text-align: center;
}

.selectedOptions__itemIcon {
    min-width: 14px;
}

.selectedOptions__itemIcon--onHover {
    display: none;
}
