.secondaryToolbar {
    display: flex;
    position: absolute;
    top: 41px;
    left: 0;
    padding: 0 var(--sidebarWidth);
    width: 100%;
    height: 41px;
    background: var(--brandColorsContrastNeutral);
    will-change: padding;
    border-bottom: 1px solid var(--brandColorsContrastDark);
    transform: translateY(0);
    transition: 100ms ease-in-out;
}
.secondaryToolbar--isMovedDown {
    transform: translateY(110px);  /* height of EditModePanel - 41px added */
}
.secondaryToolbar--isFringeLeft {
    padding-left: 0;
}
.secondaryToolbar--isFringeRight {
    padding-right: 46px;
}
.secondaryToolbar--isHidden {
    display: none;
}
.secondaryToolbar__rightHandedActions {
    margin-left: auto;
}

.dimensionCategory__icon {
    margin-right: .5em;
}
