.secondaryToolbar {
    position: absolute;
    top: 41px;
    left: 0;
    padding: 0 var(--sidebarWidth);
    width: 100%;
    height: 41px;
    background: var(--brandColorsContrastNeutral);
    transition: .2s ease padding;
    will-change: padding;
    border-bottom: 1px solid var(--brandColorsContrastDark);

    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}
.secondaryToolbar--isMovedDown {
    top: 151px; /* height of EditModePanel added */
}
.secondaryToolbar--isFringeLeft {
    padding-left: 0;
}
.secondaryToolbar--isFringeRight {
    padding-right: var(--goldenUnit);
}
.secondaryToolbar--isHidden {
    display: none;
}
.secondaryToolbar__rightHandedActions {
    float: right;
}

.dimensionCategory__icon {
    margin-right: .5em;
}

.secondaryToolbar__buttonLink {
    position: relative;
    display: inline-block;
    height: var(--goldenUnit);
    line-height: var(--goldenUnit);
    min-width: var(--goldenUnit);
    padding: 0;
    border: 0;
    -webkit-font-smoothing: antialiased;
    vertical-align: top;
    width: var(--goldenUnit);
    color: var(--brandColorsContrastBrightest);
    text-align: center;

    &:focus {
        outline: 1px dotted var(--brandColorsContrastBrightest);
    }
}

a.secondaryToolbar__buttonLink:hover {
    background: var(--brandColorsPrimaryBlue);
}

.secondaryToolbar__buttonLink--isDisabled {
    opacity: .5;
}
