.secondaryToolbar {
    display: flex;
    position: absolute;
    top: 41px;
    left: 0;
    padding: 0 var(--sidebarWidth);
    width: 100%;
    height: 41px;
    background: var(--brandColorsContrastNeutral);
    will-change: padding;
    border-bottom: 1px solid var(--brandColorsContrastDark);
    transform: translateY(0);
    transition: 100ms ease-in-out;
}
.secondaryToolbar--isMovedDown {
    transform: translateY(110px);  /* height of EditModePanel - 41px added */
}
.secondaryToolbar--isFringeLeft {
    padding-left: 0;
}
.secondaryToolbar--isFringeRight {
    padding-right: var(--goldenUnit);
}
.secondaryToolbar--isHidden {
    display: none;
}
.secondaryToolbar__rightHandedActions {
    margin-left: auto;
}

.dimensionCategory__icon {
    margin-right: .5em;
}

.secondaryToolbar__buttonLink {
    position: relative;
    display: inline-block;
    height: var(--goldenUnit);
    line-height: var(--goldenUnit);
    min-width: var(--goldenUnit);
    padding: 0;
    border: 0;
    -webkit-font-smoothing: antialiased;
    vertical-align: top;
    width: var(--goldenUnit);
    color: var(--brandColorsContrastBrightest);
    text-align: center;

    &:focus {
        outline: unset;
    }
}

a.secondaryToolbar__buttonLink:hover {
    background: var(--brandColorsPrimaryBlue);
}

.secondaryToolbar__buttonLink--isDisabled {
    opacity: .5;
}
